.found-step1 {//公用
    width: 100%;
    margin-bottom: 6px;
    background: #fff;
    /*border: 1px solid transparent;*/
    border-top: none;
    border-right: none;
    /*position: relative;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*-ms-touch-action: none;*/
    /*user-select: none;*/
    /*touch-action: none;*/
    overflow: auto;
}

.tittle {
    font-size: 15px;
    width: 82px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #868EE3;
    border-radius: 0 0 0 14px;
    border-top: none;
    border-right: none;
    color: #fff;
    margin-left: calc(100% - 82px);
}

/*
.amountcon {
    margin-top: 36px;
}
*/
.amount {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
}
.amount div {
    /*font-size: 12px;*/
    text-align: center;
}

.countDiv {
    font-size: 30px;
    color: #f97383;
    margin-top: 8px;
    /*margin-left: 9px;*/

}

/*.amount {
    font-size: 35px;
    color: #4c4c4c;
    margin-top: 5px;
    margin-left: 9px;
}*/

.countDiv span {
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;

}
.amount input {
    width: 65%;
    height: 40px;
    color: #F97383;
    font-size: 3.5rem;
    border: none;
    margin-left: 15%;
    text-align: center;
}
.amount span {
    color: #F97383;
}
.expect {
    font-size: 14px;
    margin-top: 5px;
    width:100%;
    height: 40px;
}
.expect_border {
    width:33%;
    height: 20px;
    font-size: 14px;
    color:#ffffff;
    text-align: center;
    float:left;

}
.expect_border p{
    font-size: 12px;
    margin-top: -10px;
    line-height: 20px;
    color: #888888;
}
.expect_border span{
    line-height: 28px;
    font-size: 14px;
    color: #4c4c4c;
    display: inline-block;
}
/*.expect div {
    float: left;
    !*border:1px solid blue;*!
    width: 33%;
}*/

/*
.expect div p {
    padding-left: 25%;
    color: #888888;
}
*/

/*
.expect span {
    display: inline-block;
    margin-left: 20%;
    width: 88px;
    margin-top: 8px;
    font-size: 12px;
    !*border:1px solid red;*!
    !*text-align: center;*!
}
*/

/*.expect input{*/
/*margin-left: 14.5%;*/
/*width:80%;*/
/*margin-top: 8px;*/
/*font-size:16px;*/
/*border:none;*/
/*}*/


/*
.expect .term {
    padding-left: 6%;
}

.expect .rate {
    padding-left: 6%;
}
*/

.line {
    width: calc(100% - 30px);
    margin: 0 auto;
    border-top: none;
    border-bottom: 1px solid #f0f0f0;
}

.message {
    overflow: hidden;
    position: relative;
    margin: 6px 0 6px 14px;
}

.message li {
    float: left;
}

.img {

    width: 22px;
    height: 22px;
    background: url('../img/icon/recommend.png') no-repeat;
    background-size: 100%;

}

.messageli2, .messageli3 {
    position: absolute;
    font-size: 14px;
}

.messageli2 {
    top: 2px;
    left: 32px;
    color: #888888;
}

.messageli3 {
    top: 2px;
    left: 42%;
    color: #868ee3;
}

/*.cart {
    width: 130px;
    height: 130px;
    background: url('../img/icon/cart.png') no-repeat;
    position: fixed;
    bottom: -10%;
    left: -2%;
    z-index: 2;
    background-size: 52%;
    borderShadow: 2px 2px 2px 2px;
}*/

/*foundStep2.html样式*/
/*.foundStep2right{
    width:100%;
    !*position:absolute;*!
    left:40%;
    top:0;
    position: relative; transition: all 0.25s;
}
.foundStep2left{
    position:fixed;
    width:40%;
    background:#868EE3;
    height:100%;
    overflow: hidden;
}*/

/*.foundStep2left li{
    color:#fff;
    font-size: 14px;
    font-family: 黑体;
    margin-bottom: 12%;

}
.stepleftli1{
    margin-top: 10%;
    margin-left: 14%;
}
.stepleftli2{
    border-left:2px solid #fff;
}
.stepleftli2,.stepleftli3,.stepleftli4,.stepleftli5
{
    margin-left:8%;
    padding-left:8%;
}
.foundStep2left .stepleftli5{
    margin-bottom:100%;
}*/
/*.step2cart{
    width:130px;
    height:130px;
    background:url('../../angularjs/img/cart.png') no-repeat;
    position:fixed;
    left:2%;
    top:87%;

    background-size: 50%;

}*/

/*foundStep3.html样式*/

.type {
    width: 100%;
    margin: 2% auto;
    border-top: 2px solid #f0f0f0;

}

.type p {
    padding-left: 4%;
    color: #888888;
    margin-top: 1%;
}

.type input {
    width: 50%;;
    margin-left: 3.5%;
    color: #4c4c4c;
    margin-top: 2%;
    border: none;
}

.mode {
    margin-top: 6%;
    border-bottom: 2px solid #f0f0f0;
}

.mode p {
    padding-left: 4%;
    margin-bottom: 2%;
    color: #888888;
}

.mode input {
    margin-left: 3.5%;
    border: none;
    padding-bottom: 3%;
}

/*.page.ng-enter,.page.ng-leave{*/
/*-webkit-transition: 1s linear all;*/
/*-moz-transition: 1s linear time;*/
/*-ms-transition: 1s linear time;*/
/*-o-transition: 1s linear time;*/
/*transition: 1s linear time;*/
/*}*/
.discript {
    width: 100%;
}



hr {
    border: 0.5px solid #f0f0f0;
    margin-top: 16px;
}

/*found3样式开始*/
.bgdiv {
    width: 100%;
    height: 138%;
    background: #ffffff;
}

.moneymsg {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #f0f0f0;
}

.fimation {
    margin-left: 15px;
    font-size: 1.5rem;
    margin-top: 15px;

}

.fimationimg1, .fimationimg2 {
    width: 50px;
    height: 50px;
    max-width: 100%;
    margin-top: 22px;
    margin-right: 2%;
}

.fimationimg1 {
    margin-left: 14px;
}

.watchDiv {
    line-height: 30px;
    width:90%;
    height:28px;
    border:none;
    font-size: 14px;
}

/*found3样式结束*/
/*alert框的样式开始*/
.foundalert {
    width: 82%;
    height: 170px;
    background: #ffffff;
    z-index: 2;
    border-radius: 12px;
    position: relative;
}

.alertp1 {
    width: 100%;
    height: 46px;
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    line-height: 46px;
}

.alertp2 {
    width: 100%;
    height: 60px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 58px;
}

.next2 {
    width: 80%;
    height: 40px;
    font-size: 2rem;
    background: linear-gradient(to right, #8898EB, #6045BB);
    position: absolute;
    bottom: 5%;
    margin-left: 10%;
    border-radius: 26px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    letter-spacing: 2px;
    box-shadow: 0 8px 8px #ccc;
    cursor: pointer;
    border: none;
}

/*alert框的样式结束*/

/*投资项目样式开始*/
.bidding {
    width: 100%;
    background: #ffffff;
    position: relative;
    height: 158px;
    margin-bottom: 10px;
}

.biddingname span {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 46px;
    height: 46px;
    vertical-align: middle;
}

.biddingname {
    height: 46px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.biddingname1 {
    width: 75%;
    padding-left: 5%;
}

.biddingname3 {
    width: 75%;

}

.biddingname2 {
    position: absolute;
    right: 15px;
    color: #888888;
}

.progress {
    width: 90%;
    height: 10px;
    border-radius: 10px;
    background: #f0f0f0;
    margin: 10px auto;

}

.progresschild {
    width: 90%;
    height: 10px;
    background: #f97383;
    border-radius: 10px;
}

.progresstittle1, .progresstittle2, .progresstittle3 {
    font-size: 1.4rem;
    color: #f97383;
    position: absolute;
    top: 123px;

}

.progresstittle1 {
    left: 26%;
}

.progresstittle2 {
    left: 44%;
}

.progresstittle3, .progresstittle4 {
    right: 15px;
}

.progresstittle4 {
    font-size: 1.4rem;
    position: absolute;
    top: 123px;
    color: #888888;
}

.progresstittle5 {
    font-size: 1.4rem;
    position: absolute;
    top: 123px;
    color: #888888;
    left: 5%;
}

/*投资项目样式结束*/
/*项目管理已发布样式开始*/
.managementheader {
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #f0f0f0;
    background: #ffffff;
    line-height: 46px;
}

.managementheader span {
    display: inline-block;
    width: 20%;
    /*border:1px solid red;*/
    font-size: 1.5rem;
    height: 44px;
    text-align: center;
    color: #888888;

}

.managementheaderspan1 {
    margin-left: 14.5%;
}

.managementheaderspan2 {
    margin-left: 30%;
}

.current {
    border-bottom: 2px solid #868ee3;
}

/*.managementheaderspan2:hover,.managementheaderspan1:hover{*/
/*cursor:pointer;*/
/*border-bottom: 2px solid #868ee3;*/
/*color:#4c4c4c;*/
/*}*/
/*项目管理已发布样式结束*/
/*项目管理未发布样式开始*/
.biddingname .redcircle {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #f97383;
    border-radius: 50%;
    margin-left: 5%;
}

.bddnaclass2 {
    margin-left: -5%;
}

/*项目管理未发布样式开始*/


/*项目进度详情样式开始*/
.progressDetail {
    width: 90%;
    height: 10px;
    border-radius: 10px;
    background: #f0f0f0;
    margin: 10px auto 28px;
}

.detailChild{
    /*width:90%;*/
    height: 10px;
    background: #f97383;
    border-radius: 10px;
}

.detailTittle1 {
    width:60%;
    font-size: 14px;
    color: #f97383;
    text-align: center;
}

.detailTittle2 {
    display: inline-block;
    font-size: 14px;
    color: #f97383;
    /*text-align: center;*/
    position: relative;
}


.detailTittle3 {
    font-size: 14px;
    color: #f97383;
   text-align: right;
}

.detailtittle4 {
    font-size: 1.4rem;
    color: #888888;
    position: absolute;
    top: 172px;
    right: 6%;
}

.showmsg {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.detailimg1 {
    width: 58px;
    height: 58px;
    /*border:1px solid black;*/
    margin-top: 15px;
    margin-left: 15px;
    max-width: 100%;
    margin-bottom: 10px;
}

.examine {

    width: 76%;
    height: 50px;
    font-size: 1.8rem;
    line-height: 50px;
    text-align: center;
    position: fixed;
    left: 12%;
    bottom: 16px;
    background: #f0f0f0;
    border-radius: 18px;
    color: #888888;
    letter-spacing: 2px;

}

/*项目进度详情2样式结束*/


/*约见信息样式开始*/
.meeting {
    width: 72%;
    background: #ffffff;
    border-radius: 12px;
}

.meetLogo {
    width: 61px;
    height: 47.5px;
    margin-top: 38px;
    margin-left: calc(50% - 30px);
}

.meetingDIv {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #f0f0f0;
    line-height: 24px;
    margin-top: 16px;
    padding-left: 15px;
}

.meetingP1 {
    font-size: 14px;
    color: #888888;
}

.meetingP2 {
    font-size: 16px;
    color: #4c4c4c;
    font-family: "Arial Black";
}

.meetPhone {
    width: 100px;
    height: 100px;
    margin-left: calc(50% - 50px);
    margin-top: 20px;
}
/*reset money select css*/
.mbsc-android-holo .dwhl {
    padding: 1px 0;
}

.mbsc-android-holo .dwwol {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 0;
    width: 100%;
}

.mbsc-android-holo-light .dw-li.dw-sel {
    color: #4c4c4c;
}

.mbsc-android-holo-light .dw-li {
    color: #888;
}

.mbsc-android-holo-light .dwbc {
    position: absolute;
    width: 100%;
    right: 0%;
    padding-right: 5%;
    top: 0;
    text-align: right;
}

.mbsc-android-holo-light .dwb-a {
    color: #4C4C4C;
}

.mbsc-android-holo .dwb-a {
    background: transparent;
}
.mbsc-android-holo-light .dwwr{
    background: #fff;
}
.mbsc-android-holo-light .dwbw:first-child .dwb{
    background: #fff;
}
.mbsc-android-holo-light .dwwo {
    background: rgba(255, 255, 255, .5);
}