/*全局样式*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 黑体;


}
html,body{height:100%;
    font-size:62.5%}
body{

    background:#F0F0F0;
    color:#4C4C4C;
    font-size:1.2rem;
    height:100%;
    overflow-x: hidden;
}


/*foundStep1.html样式*/
.found-step1{
    /*height:29%;*/
    width:100%;
    margin-bottom: 2%;
    background: #fff;
    border: 1px solid transparent;
}
.tittle{
    font-size:18px;
    width:25%;
    height:36px;
    text-align: center;
    line-height:36px;
    background-color:#868EE3;
    border-radius:0 0 0 20px;
    color:#fff;
    margin-left: 75%;
}

.amountcon {
    margin-top: 36px;
}
.amount{
    display:block;
    width:36%;
    margin:0 auto;
    text-align: center;

}

.amount .countdiv {

    font-size: 3rem;
    color: #f97383;
    padding-left: 11%;
    margin-top: 5px;

}

.amount .countdiv span {
    font-size: 1.4rem;
    display: inline-block;
    margin-left: 8%;
}
.amount input{
    width:65%;
    height:40px;
    color:#F97383;
    font-size:3.5rem;
    border:none;
    margin-left: 15%;
    text-align: center;
}
.amount div{
    width: 89%;
    font-size: 13px;
    text-align: center;


}
.amount span{
    color:#F97383;
}
.expect{
    overflow: hidden;
    width:98%;
    margin:2% auto;
    /*border:1px solid red;*/
    font-size:14px;
}
.expect div{
    float: left;
    /*border:1px solid blue;*/
    width:33%;
}
.expect div p{
    padding-left:25%;
    color:#888888;
}

.expect span {
    display: inline-block;
    margin-left: 20%;
    width: 88px;
    margin-top: 8px;
    font-size:16px;
    /*border:1px solid red;*/
    /*text-align: center;*/
}

/*.expect input{*/
/*margin-left: 14.5%;*/
/*width:80%;*/
/*margin-top: 8px;*/
/*font-size:16px;*/
/*border:none;*/
/*}*/
.expect_border{
    border-right:1px solid #f0f0f0;
}
.expect .term{
    padding-left: 6%;
}
.expect .rate{
    padding-left: 6%;
}
.line{
    width:98%;
    margin:2% auto;
    border:1.5px solid #f0f0f0;
}
.message{
    overflow: hidden;
    position:relative;
    margin-top: 2%;
    margin-left: 4%;
}
.message li{
    float:left;
}
.img{

    width:22px;
    height:22px;
    background: url('../../img/recommend.png') no-repeat;
    background-size:100%;

}
.messageli2,.messageli3{
    position:absolute;
    font-size:14px;

}
.messageli2{
    top:10%;
    left:12%;
    color:#888888;
}
.messageli3{
    top:10%;
    left:42%;
    color:#868ee3;
}
.cart{
    width:130px;
    height:130px;
    background: url('../../img/cart.png') no-repeat;
    position:fixed;
    bottom:-10%;
    left:-2%;
    z-index: 2;
    background-size: 52% ;
    borderShadow: 2px 2px 2px 2px ;
}


/*foundStep2.html样式*/
/*.foundStep2right{
    width:100%;
    !*position:absolute;*!
    left:40%;
    top:0;
    position: relative; transition: all 0.25s;
}
.foundStep2left{
    position:fixed;
    width:40%;
    background:#868EE3;
    height:100%;
    overflow: hidden;
}*/

/*.foundStep2left li{
    color:#fff;
    font-size: 14px;
    font-family: 黑体;
    margin-bottom: 12%;

}
.stepleftli1{
    margin-top: 10%;
    margin-left: 14%;
}
.stepleftli2{
    border-left:2px solid #fff;
}
.stepleftli2,.stepleftli3,.stepleftli4,.stepleftli5
{
    margin-left:8%;
    padding-left:8%;
}
.foundStep2left .stepleftli5{
    margin-bottom:100%;
}*/
/*.step2cart{
    width:130px;
    height:130px;
    background:url('../../angularjs/img/cart.png') no-repeat;
    position:fixed;
    left:2%;
    top:87%;

    background-size: 50%;

}*/


/*foundStep3.html样式*/

.type{
    width:100%;
    margin: 2% auto;
    border-top:2px solid #f0f0f0;

}
.type p{
    padding-left:4%;
    color:#888888;
    margin-top: 1%;
}
.type input{
    width:50%;;
    margin-left:3.5%;
    color:#4c4c4c;
    margin-top: 2%;
    border:none;
}

.mode{
    margin-top: 6%;
    border-bottom:2px solid #f0f0f0;
}
.mode p{
    padding-left:4%;
    margin-bottom: 2%;
    color:#888888;
}
.mode input{
    margin-left:3.5%;
    border:none;
    padding-bottom: 3%;
}

/*.page.ng-enter,.page.ng-leave{*/
/*-webkit-transition: 1s linear all;*/
/*-moz-transition: 1s linear time;*/
/*-ms-transition: 1s linear time;*/
/*-o-transition: 1s linear time;*/
/*transition: 1s linear time;*/
/*}*/
.discript{
    width:100%;
}
.discript p{
    padding-left: 5%;
    color:#888888;
    margin-top:3%;
    margin-bottom: 2%;
    font-size:1.6rem;
}

.discript textarea{
    width:100%;
    border:none;
    padding-left:3.5%;
}

.discript div {
    width: 95%;
    margin-left: 5%;
    font-size: 1.4rem;
}

hr {
    border: 0.5px solid #f0f0f0;
    margin-top: 16px;
}
/*found3样式开始*/
.bgdiv{
    width:100%;
    height:138%;
    background: #ffffff;
}
.moneymsg{
    width:100%;
    height: 100px;
    border-bottom: 1px solid  #f0f0f0;
}

.fimation {
    margin-left: 5%;
    font-size: 1.5rem;
    margin-top: 15px;

}

.fimationimg1, .fimationimg2 {
    width: 50px;
    height: 50px;
    max-width: 100%;
    margin-top: 22px;
    margin-right: 2%;
}

.fimationimg1 {
    margin-left: 4%;
}

.watchdiv {
    width: 80%;
    height: 30px;
    margin-top: 6px;
    margin-left: 5%;
    /*border: none;*/
    font-size: 1.45rem;
    /*border:1px solid red;*/
    line-height: 30px;
}

/*found3样式结束*/
/*alert框的样式开始*/
.foundalert{
    width:80%;
    height:170px;
    background: #ffffff;
    position:fixed;
    top:30%;
    left:10%;
    z-index: 2;
    border-radius: 12px;
    position:relative;
}
.alertp1{
    width:100%;
    height:46px;
    font-size:1.8rem;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    line-height: 46px;
}
.alertp2{
    width:100%;
    height:60px;
    font-size:1.6rem;
    text-align: center;
    line-height: 58px;
}
.next2{
    width:80%;
    height:40px;
    font-size:2rem;
    background:linear-gradient(to right,#8898EB,#6045BB);
    position:absolute;
    bottom: 5%;
    margin-left: 10%;
    border-radius: 26px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    letter-spacing: 2px;
    box-shadow: 0 8px 8px #ccc;
    cursor:pointer;
    border:none;
}
/*alert框的样式结束*/

/*投资项目样式开始*/
.bidding{
    width:100%;
    background:#ffffff;
    position:relative;
    height:158px;
    margin-bottom: 10px;
}
.biddingname span{
    display: inline-block;
    font-size:1.4rem;
    line-height:46px;
    height:46px;
}
.biddingname{
    height:46px;
    width:100%;
    border-bottom: 1px solid #f0f0f0;
}
.biddingname1{
   width:75%;
    padding-left:5%;
}
.biddingname2{
    margin-left: -1.2%;
    color:#888888;
}
.progress{
    width:90%;
    height:10px;
    border-radius: 10px;
    background:#f0f0f0;
    margin: 10px auto;

}
.progresschild{
    width:90%;
    height:10px;
    background: #f97383;
    border-radius: 10px;
}
.progresstittle1,.progresstittle2,.progresstittle3{
    font-size:1.4rem;
    color:#f97383;
    position:absolute;
    top:123px;

}
.progresstittle1{
    left:26%;
}
.progresstittle2{
    left:44%;
}
.progresstittle3,.progresstittle4{
    left:79%;
}
.progresstittle4{
    font-size:1.4rem;
    position:absolute;
    top:123px;
    color:#888888;
}
/*投资项目样式结束*/
/*项目管理已发布样式开始*/
.managementheader{
    width:100%;
    height:46px;
    border-bottom: 1px solid #f0f0f0;
    background: #ffffff;
    line-height: 46px;
}
.managementheader span{
    display: inline-block;
    width:20%;
    /*border:1px solid red;*/
    font-size:1.5rem;
    height:44px;
    text-align: center;
    color:#888888;

}
.managementheaderspan1{
    margin-left: 14.5%;
}
.managementheaderspan2{
    margin-left: 30%;
}
.managementheaderspan2:hover,.managementheaderspan1:hover{
    cursor:pointer;
    border-bottom: 2px solid #868ee3;
    color:#4c4c4c;
}
/*项目管理已发布样式结束*/
/*项目管理未发布样式开始*/
.biddingname .redcircle{
    display:inline-block;
    width:11px;
    height:11px;
    background: #f97383;
    border-radius: 50%;
    margin-left: 5%;
}
.bddnaclass2{
    margin-left: -5%;
}
/*项目管理未发布样式开始*/
/*我的钱包样式开始*/
.walletheader{
    width:100%;
    height:120px;
    background:#55555d;
    border:1px solid transparent;
}
.walheadertittle{
    width:20%;
    height:20px;
    margin:0 auto;
    font-size:1.3rem;
    color:#ffffff;
   margin-top: 20px;
    text-align: center;
}
.moneycount{
    width:50%;
    margin:0 auto;
    font-size: 1.3rem;
    color:#ffffff;
    text-align: center;
}
.moneycount span{
    display:inline-block;
    font-size: 2.6rem;
}
.binding{
    width:100%;
    height:50px;
    background:#ffffff;
    position:relative;
}
.binding span{
    display:inline-block;
}
.bindingtittle{
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
    margin-left: 5%;
}
.bindingimg{
    width:21px;
    height:21px;
    background: #eaeaea;
    border-radius: 50%;
    color:#ffffff;
    font-size: 2rem;
    text-align: center;
    line-height: 21px;
    font-weight: bold;
    /*margin-left: 62%;*/
    position:absolute;
    top:14px;
    right:3%;
}
.bankcard{
    width:92%;
    height:105px;
    background: linear-gradient(to right,#f97383,#e78989);
    margin:12px auto;
    border-radius: 12px 12px 0 0;
}
.bankcard div{
    float:left;
}
.bankcardleft img{
    width:35px;
    height:35px;
    border-radius: 50%;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 12px;
   /*vertical-align: middle;*/
}
.bankcardright{
    margin-top: 10px;
    margin-left: 8%;
    color:#ffffff;


}
.bankcardrightname{
    font-size: 1.6rem;
    font-family: "Arial Black";

}
.bankcardrightcard{
    font-family: "Arial Black";
    font-size: 1.35rem;
    margin-top: 2px;
}
.bankcardrightnum{
    font-size: 1.8rem;
    margin-top: 13px;
    font-family: "microsoft yahei";
    letter-spacing: 1px;
}
/*我的钱包样式结束*/
/*项目进度详情1样式开始*/
  .progressdetail{
      width:90%;
      height:10px;
      border-radius: 10px;
      background:#f0f0f0;
      margin: 10px auto;
      margin-bottom: 40px;
  }
  .detailchild{
      /*width:90%;*/
      height:10px;
      background: #f97383;
      border-radius: 10px;
  }
  .detailtittle1{
      font-size:1.4rem;
      color:#f97383;
      position:absolute;
      top:162px;
      left:27%;
  }
.detailtittle2{
    font-size:1.4rem;
    color:#f97383;
    position:absolute;
    top:162px;
    left:43%;
}
.detailtittle3{
    font-size:1.4rem;
    color:#f97383;
    position:absolute;
    top:162px;
    right:6%;
}
.detailtittle4{
    font-size:1.4rem;
    color:#888888;
    position:absolute;
    top:162px;
    right:6%;
}
  .showmsg{
      width:100%;
      border-bottom: 1px solid #f0f0f0;
  }
  .detailimg1{
      width:58px;
      height:58px;
      /*border:1px solid black;*/
      margin-top: 15px;
      margin-left: 5%;
      max-width: 100%;
      margin-bottom: 10px;
  }
  .examine{

      width:76%;
      height:50px;
      font-size: 1.8rem;
      line-height: 50px;
      text-align: center;
      position:fixed;
      left:12%;
      bottom:16px;
      background: #f0f0f0;
      border-radius:18px;
      color:#888888;
      letter-spacing: 2px;

  }
/*项目进度详情2样式结束*/
/*约见信息样式开始*/
.meeting{
    width:72%;
    background:#ffffff;
    position:fixed;
    left:14%;
    top:16%;
    border-radius: 12px;
    z-index: 2;

}
.meetlogo{

    width:30%;
    /*height:63px;*/
    max-width: 70%;
    padding-top: 40px;
    margin-left:35%;
}
.meetname{
    width:100%;
    height:58px;
    border-bottom: 1px solid #f0f0f0;
    line-height: 24px;
    margin-top: 16px;
    padding-left:5%;
}
.meetnamep1{
    font-size: 1.6rem;
    color:#888888;
}
.meetnamep2{
    font-size: 1.8rem;
    color:#4c4c4c;
    font-family: "Arial Black";
}
.meetphone{
    width:44%;
    max-width:70%;
    margin-left: 28%;
    margin-top: 20px;
}
/*约见信息样式结束*/








.mobile {
    float: left; position: relative;
    width: 100%;
    /*box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);*/
    height: 100%;
    /*background-color: #4C4C4C;*/
}
.foundStep2right{
    z-index: 3;
    width:100%;
    /*position:absolute;*/
    background-color: #f0f0f0;
    /*left:40%;*/
    top:0;
    position: relative;
    transition: all 0.05s;
    /*transform: translateX(150px);*/
    overflow: hidden;
}
/*.foundStep2left{
    !*position:fixed;*!
    width:40%;
    background:#868EE3;
    height:100%;
    !*overflow: hidden;*!

}*/
.foundStep2left {
    z-index: 2;
    width: 40%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /*bottom: 0;*/
    padding-top: 40px;
    /*position: fixed;*/
    transition: all 0.05s;
    left: -40%;
    background:#868EE3
}
#tm {display: none;}

#tm:checked ~ .foundStep2right {background:#cccccc;
    filter: alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    transform: translateX(40%);
    height: 100%;
    position: fixed;
}

#tm:checked ~ .af {
    transform: translateX(40%);
}

#tm:checked ~ .step21cart {
    display: block
}

#tm:checked ~ .foundStep2left {transform: translateX(100%);}

.af {
    position: fixed;
    bottom: 2px;
    width: 100%;
    height: 60px;
    z-index: 4;
    transition: all 0.05s;
}
.step2cart{
    display: block;
    z-index:6;
    width: 60px;
    height: 60px;
    background: url('../../img/cart.png') no-repeat;
    position: absolute;
    /*right:50%;*/
    /*bottom:100px;*/

    background-size: 100%;

}
.step21cart{
    display: none;
    z-index:5;
    width:100%;
    height:100%;
    position:fixed;
    transition: all .05s;
    /*right:50%;*/
    bottom: 0%;

    background-size: 20%;

}


.foundStep2left li{
    color:#fff;
    font-size: 14px;
    font-family: 黑体;
    margin-bottom: 12%;
}

.stepleftli1{
    margin-top: 10%;
    margin-left: 14%;
}
.stepleftli2{
    border-left:2px solid #fff;
}
.stepleftli2,.stepleftli3,.stepleftli4,.stepleftli5
{
    margin-left:8%;
    padding-left:8%;
}
.foundStep2left .stepleftli5{
    margin-bottom:100%;
}

