


/*foundStep3.html样式*/

/*
.type {
    width: 100%;
    margin: 2% auto;
    border-top: 2px solid #f0f0f0;
}

.type p {
    padding-left: 4%;
    color: #888888;
    margin-top: 1%;
}

.type input {
    width: 50%;;
    margin-left: 3.5%;
    color: #4c4c4c;
    margin-top: 2%;
    border: none;
}

.mode {
    margin-top: 6%;
    border-bottom: 2px solid #f0f0f0;
}

.mode p {
    padding-left: 4%;
    margin-bottom: 2%;
    color: #888888;
}

.mode input {
    margin-left: 3.5%;
    border: none;
    padding-bottom: 3%;
}
*/

/*found3样式开始*/
/*
.bgdiv {
    width: 100%;
    height: 138%;
    background: #ffffff;
}
*/





/*found3样式结束*/
/*alert框的样式开始*/




/*alert框的样式结束*/

/*投资项目样式开始*/
/*.bidding {
    width: 100%;
    background: #ffffff;
    position: relative;
    height: 158px;
    margin-bottom: 10px;
}

.biddingname span {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 46px;
    height: 46px;
    vertical-align: middle;
}

.biddingname {
    height: 46px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.biddingname1 {
    width: 75%;
    padding-left: 5%;
}

.biddingname3 {
    width: 75%;

}

.biddingname2 {
    position: absolute;
    right: 15px;
    color: #888888;
}*/


/*项目进度详情样式开始*/



