/*登录样式开始*/
.forget{
    font-size: 14px;
    margin-top: 10px;
    position: absolute;
    right: 15px;
    line-height: 18px;
    cursor:pointer;
}
/*登录样式结束*/
/*register1样式开始*/
.regForm1{
    width:100%;
    font-size: 18px;
    position:relative;
    padding-top: 40px;
}
.Verification{
    width:100%;
    padding: 0 15px;
    border-bottom: 1px solid #f0f0f0;
    height:50px;
}
.newUser{
    width:40%;
    height:40px;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 30%;
    text-align: center;
    cursor:pointer;
}
.phoneCode{
    width:100%;
    height:50px;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    border-right: none;
    border-left: none;
    border-top:none;
    padding:0 15px;
}
.verCode{
    /*width:70%;*/
    height:50px;
    font-size: 14px;
    /*border-right: 1px solid #f0f0f0;*/
    border: none;

}
.verBtn{
    /*width:24%;*/
    background:#ffffff;
    font-size:14px;
/*    height:49px;*/

    line-height: 20px;
    padding-left: 15px;
    padding-top: 15px;
    border:none;
    color:#8898EB;
    display: inline-block;
    text-align: center;
}
 .regRelease{
     width:60%;
     height:45px;
     font-size:18px;
     background:linear-gradient(45deg,#8898EB,#6045BB);
     border-radius: 26px;
     text-align: center;
     color: #fff;
     line-height: 38px;
     letter-spacing: 2px;
     box-shadow: 0 8px 8px #ccc;
     cursor:pointer;
     border:none;
    margin-left: 20%;
     margin-top: 56px;
}
.hideClass{
     width:60%;
     height:50px;
     font-size:20px;
     background:#e0e0e0;
     margin-left: 20%;
     margin-top: 30px;
     border-radius: 26px;
     text-align: center;
     color: #888888;
     line-height: 48px;
     letter-spacing: 2px;
     cursor:pointer;
     border:none;
 }

 .prompt{
     width:50%;
     /*height:28px;*/
     /*border:1px solid red;*/

     text-align: center;
     font-size: 14px;
     color:#f97383;
/*     display: none;*/
     /*position:absolute;*/
     margin-left:25%;
     margin-top: 10px;
 }

/*register1样式结束*/