*{margin: 0;padding: 0;}
li{list-style-type: none;}
a,input{outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
#choose{display: none;}
canvas{width: 100%;border: 1px solid #000000;}
#upload{
    width:40px;
    height: 40px;
    cursor: pointer;
    background: url('../img/icon/upload.png') no-repeat center  center;
    background-size: 100%;
    opacity: 0.7;
    margin-left: 50px;
}
.touch{background-color: #ddd;}
.img-list{
    position: relative;
    display: inline-block;
    margin-top: 8px;
    z-index: 2;
    margin-right: 15px;

}
.img-list img{
    border: 0;
    z-index: -1;
    display: inline-block;
    width: 40px;
    height: 40px;

    /*background: #fff no-repeat center;*/
    /*background-size: cover;*/
    /*border: 1px solid red;*/
}
.progress{width: 90%;
    height: 10px;
    border-radius: 10px;
    background: #f0f0f0;
    margin: 10px auto;
}
.progress span{display: block;width: 0;height: 100%;text-align: center;color: #FFF;font-size: 13px;}
.size{position: absolute;width: 100%;height: 15px;line-height: 15px;bottom: -18px;text-align: center;font-size: 13px;color: #666;}
.loadlie{
    position:relative;
    padding-left: 15px;
}