/*全局样式*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: OneNikeCurrency,'TradeGothicW01-BoldCn20 675334',Helvetica,Arial,'Heiti SC','ST Heiti',华文黑体,'Microsoft YaHei',雅黑体,SimHei,黑体,sans-serif;
}
html,body{
    height:100%;
    font-size:62.5%;
}
body{
    background:#F0F0F0;
    color:#4C4C4C;
    font-size:1.2rem;
    height:100%;
    overflow-x: hidden;
}
ul,li{
    list-style-type: none;
}
a,input{
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
canvas{
    width: 100%;
    border: 1px solid #000000;
}
input,button,select,textarea{
    outline:none;
}
/*清除浮动*/
.clear {
    zoom: 1;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/*全局样式结束*/
/*个人中心样式开始*/
.asideContainer{
    width:100%;
    height:100%;
    background: #ffffff;
    float: left;
    position: relative;
}
.containerDisplay{
    z-index: 3;
    width:100%;
    background-color: #f0f0f0;
    top:0;
    position: relative; transition: all 0.05s;
    overflow: visible;
    box-shadow: -13px 0px 20px rgba(137,112,230,0.35);
}
.userHeader{
    width:100%;
    height:187.5px;
    background:linear-gradient(to bottom,#8898EB,#6045BB);
    border:1px solid transparent;
}
.userLogo{
    width:40%;
    height:75px;
    margin: 30px auto 0px;
}
.userLogoPic{
    border-radius: 100%;
    margin: 0 auto;
    width:48px;
    height:48px;
}
.userLogoName{
    width:100%;
    font-size: 13px;
    margin: 11.5px auto 0px;
    color:#fffffF;
    text-align: center;
    height:17.6px;
    line-height: 17.6px;
}
.userLogoName img{
    width:16px;
    vertical-align:top;
    margin-left: 5px;
}
.headerContents{
    border:1px solid transparent;
    width:100%;
    height:91.4px;
}
.headerContent{
    width:33%;
    height: 21px;
    font-size: 12px;
    color:#ffffff;
    text-align: center;
    margin-top: 42px;
    float:left;
}
.borderLine{
    border-left:1px solid #f0f0f0;
    border-right:1px solid #f0f0f0;
}
.headerContentNum{
    margin-top: -11px;
    margin-bottom: 10px;
}
.userContents{
    width:100%;
    background:#ffffff;
    position:relative;
}
.userContent{
    width:100%;
    height: 50px;
    background:#ffffff;
    position:relative;

}
.userContent1{
    width:100%;
    height: 44px;
    background:#ffffff;
    position:relative;

}
.borderBottom{
    border-bottom: 1px solid #f0f0f0;
}
.userContentName{
    display: inline-block;
    width:100%;
    height:45px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 13px;
    line-height: 48px;
    padding-left: 5%;
}
.userContentIcon{
    display:inline-block;
    width:25px;
    height:25px;
    background: url('../img/icon/arrow1.png') no-repeat ;
    -moz-background-size:70%;
    background-size:100%;
    position:absolute;
    right:15px;
    top:11px;
}
/*侧边框设置*/
.asideHide {
    z-index: 2;
    width: 40%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    transition: all 0.05s;
    left: -40%;
    background:#868EE3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    user-select: none;
    touch-action: none;
    /*background: rgba(255, 255, 255, 0);*/
}
.asideHide li{
    color:#fff;
    font-size: 13px;
    font-family: 黑体;
    margin-bottom: 12%;
}
.img{
    width:33px;
    height:33px;
}

.asideLi1{
    margin-top: 10%;
    margin-left: 14%;
}
.asideLi1 img{
    border-radius: 100%;
    width:33px;
    height:33px;
}
.asideLi5{
    border-left:2px solid #fff;
}
.asideLi2,.asideLi3,.asideLi4,.asideLi5
{
    margin-left:8%;
    padding-left:8%;
}
.cart{
    display: block;
    z-index:6;
    width:65px;
    height:65px;
    background:url('../img/icon/cart.png') no-repeat;
    position:fixed;
    bottom: -10px;
    background-size: 100%;
}
.cartBack{
    display: none;
    z-index:5;
    width:100%;
    height:100%;
    position:fixed;
    transition: all .05s;
    bottom: 0%;
    background-size: 20%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    user-select: none;
    touch-action: none;
}
/*弹出左边栏*/
#tm {
    display: none;
}
#tm:checked ~ .containerDisplay {
    background:#ffffff;
    /*filter: alpha(Opacity=50);
    -moz-opacity:0.5;
    -webkit-opacity:0.5;
    opacity: 0.5;*/
    transform:translateX(40%);
    -ms-transform:translateX(40%); 	/* IE 9 */
    -moz-transform:translateX(40%); 	/* Firefox */
    -webkit-transform:translateX(40%); /* Safari 和 Chrome */
    -o-transform:translateX(40%); 	/* Opera */
    height: 100%; position:fixed;
}
#tm:checked ~ .af {
    transform: translateX(40%);
    -ms-transform:translateX(40%); 	/* IE 9 */
    -moz-transform:translateX(40%); 	/* Firefox */
    -webkit-transform:translateX(40%); /* Safari 和 Chrome */
    -o-transform:translateX(40%);
}
#tm:checked ~ .cartBack {
    display: block;
    opacity: 0;
    transform: translateX(40%);
    -ms-transform:translateX(40%); 	/* IE 9 */
    -moz-transform:translateX(40%); 	/* Firefox */
    -webkit-transform:translateX(40%); /* Safari 和 Chrome */
    -o-transform:translateX(40%);
}
#tm:checked ~ .asideHide {
    transform: translateX(100%);
    -ms-transform:translateX(100%); 	/* IE 9 */
    -moz-transform:translateX(100%); 	/* Firefox */
    -webkit-transform:translateX(100%); /* Safari 和 Chrome */
    -o-transform:translateX(100%);
}
/*问题中心*/
.question_list{
    height: 95px;
    width:100%;
    background: #ffffff;
    margin-bottom: 5px;
}
.question_content{
    margin: 0 15px;
    border-bottom: 1px solid #f0f0f0;
    height:50px;
    background:#ffffff;
}
.askDisable {
    display: inline-block;
    height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    line-height: 50px;
}
.bg_ask{
    vertical-align: top;
    display:inline-block;
    height:22px;
    width:22px;
    background: url('../img/icon/ask.png') no-repeat;
    background-size: 100%;
    margin-top: 14px;
}
.questionUser{
    width: 100%;
    padding: 0 15px;
    font-size:12px;
    color:#888888;
    margin-top:15px ;
    height: 40px;
}
.questionUserSpan1{
    padding-right: 15px;
    border-right: 1px solid #f0f0f0;
    text-align: left;
}
.questionUserSpan2{
    width:60px;
    text-align: center;
}
.questionUserSpan3{
    width:calc(95% - 119px);
    text-align: right;
}
/*问题中心结束*/


/*设置页面样式开始*/
.userSet{
    height:56px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1.5rem;
    color:#4c4c4c;
    margin-left: 5%;
    padding-right: 15px;
    /*display:table-cell;*/
    /*text-align:c/enter;*/
    vertical-align:middle;

}
.userSet span{
    display: inline-block;
    margin-left:15px;
}

.userSet img{
    border-radius: 100%;
   margin-top: 8px;
    width:40px;
    height:40px;
   float: right;
}
.userSetIcon{
    float: right;
}
.userSetContent{
    float: right;
    margin-right: 10px;
    display: inline-block;
}
.userSetOut{
    width:76%;
    height:43px;
    border:1px solid #e6e6e6;
    border-radius: 20px;
    text-align: center;
    line-height:42px;
    font-size: 16px;
    position:fixed;
    bottom:70px;
    left: 12%;
    margin: 0 auto;
    color:#888888;
}
/*设置页面样式结束*/




/*聊天室样式开始*/
.displayFrame{
    /*width:100%;*/
    /*height:calc(100% - 255px);*/
    /*height:200px;*/
    /*border:1px solid red;*/
    border: none;
    background: #f0f0f0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    /*position:fixed;*/
    /*top:195px;*/

    /*min-height:45px;*/
}
.fixed-box{
    height: 15px;
    width: 100%;
    /*z-index: 100;*/
    position: relative;
}
.mycon{
    overflow-x: hidden;
    width: 100%;
}

.myFrame{
    /*background: url("../img/icon/setup.png") no-repeat;*/
    width:100%;
    min-height: 40px;
    margin-top:20px;
    position:relative;

}
.otherFrame{
    width:100%;
    min-height: 40px;
    margin-top:20px;
    position:relative;
}

.myFrame span{
    float: right;
}
.otherFrame span{
    /*display:inline-block ;*/
    float: left;
}

.spanImg{
    width:40px;
    height:40px;
    border-radius:50%;
    background: #d8d8d8;
    position:absolute;
    top:0;
    right:15px;
}
.spanImgOther{
    width:40px;
    height:40px;
    border-radius:50%;
    background: #d8d8d8;
    margin-left: 7px;
    position:absolute;
    top:0;
    left:15px;
}
.my{
    display: inline-block;
    max-width:70%;
    min-width:50px;
    min-height:40px;
    background:#6b7acb;
    border-radius: 15px;
    text-align: left;
    line-height: 26px;
    font-size: 16px;
    color:#ffffff;
    padding:7px 14px;
    margin-right:70px;
}
.myTriangle{
    display: inline-block;
    width:20px;
    height:17px;
    background: url("../img/icon/right.png") no-repeat;
    /*border-width:7px 2px 7px 28px;*/
    /*border-style:solid;*/
    /*border-color:transparent  transparent  transparent #868ee3 ;*/
    /*font-size:0;*/
    /*line-height:0;*/
    background-size: 50%;
    position:absolute;
    top:6px;
    right:54px;
}
.otherTriangle{
    width:20px;
    height:17px;
    /*border-width:12px 6px 12px 36px;*/
    /*border-style:solid;*/
    background: url("../img/icon/left.png") no-repeat;
    background-size: 60%;
    /*border-color:#ffffff transparent  transparent  transparent ;*/
    /*font-size:0;*/
    /*line-height:0;*/
    position:absolute;
    left:74px;
    top:3px;
    z-index: 1;
    /*border-width:7px 2px 7px 28px;*/
}

.speakForm{
    padding-top: 10px;
    width:100%;
    background: #f0f0f0;
    /*margin-bottom: 15px;*/
   /* position:fixed;
    bottom: 0px;*/
}
.speak{
    /*display: block;*/
    border: none;
    width: calc(100% - 110px);
    resize: none;
    height: 40px;
    /*vertical-align: center;*/
  /*  position: relative;
    bottom: 10px;*/
  /*  position: fixed;
    bottom: 8px;*/
    margin-top: 15px;
    margin-bottom: 15px;
    /*width: calc(100% - 110px);*/
    line-height: 20px;
    min-height: 42px;
    max-height: 120px;
    _height: 120px;
    /*margin-left: 15px;*/
    padding-top: 12px;
    margin-left: 15px;
    /*padding-right: 70px;*/
    text-wrap: none;
    outline: 0;
    /*border: 1px solid #f0f0f0;*/
    font-size: 16px;
    /*word-wrap: break-word;*/
    overflow-x: hidden;
    overflow-y: visible;
    _overflow-y: hidden;
    background: #fff;
    /*overflow-wrap: break-word;*/
    /*z-index:9999;*/
}
.textBottomLine{
    position: fixed;
    bottom: 15px;
    width: 80%;
    background: blue;
    height: 1px;
    overflow: visible;
}
.speakBtn{
    width:65px;
    /*position: absolute;*/
    /*bottom: 15px;*/
    position: fixed;
    bottom: 15px;
    /*bottom: 0px;*/
    /*margin-top: 15px;*/
    /*margin-left: 15px;*/
    right: 15px;
    height:40px;
    border:none;
    border-radius: 6px;
    background:linear-gradient(45deg,#8898EB,#6045BB);
}


.others{
    max-width:70%;
    min-width:20%;
    min-height:30px;
    background:#FFFFFF;
    border-radius: 15px;
    text-align: left;
    line-height: 26px;
    /*font-size: 1.4rem;*/
    font-size: 16px;
    color:#888888;
    padding:1% 3% 1% 3%;
    margin-left:82px;
}
/*聊天室样式结束*/
/*发布风控样式*/
.information{
    width:100%;
    height:50px;
    font-size: 16px;
    line-height: 48px;
    background:#F0F0F0;
    text-indent: 15px;
    color:#888888;
    position:relative;
}
.ok{
    width:12.5px;
    height:8.5px;
    position:absolute;
    top:20px;
    right:19px;
}
.industry{
    width:100%;
    background: #ffffff;
}
.collateral{
    width:100%;
    overflow: hidden;
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}
.collateral2{
    width:100%;
}

.collateral1 div ,.collateral2 div{
    float:left;
}
.collateralLine{
    display: inline-block;
    width:90%;
    height:1px;
    float: left;
    background: #f0f0f0;
    margin-right: 11px;
}
.collateralDiv{
    height: 50px;
    line-height: 50px;
    position:relative;
    width:calc(33% - 16px);
    margin-left: 15px;
}
.borderNoRight{
    border-right: none;
}
.check{
    display: inline-block;
    /*border:1px solid red;*/
    width:20px;
    height:20px;
    background:url("../img/icon/check.png") no-repeat;
    vertical-align: middle;
    background-size: 100%;

}
.checkText{
    padding-left: 5px;
    display: inline-block;
    font-size: 14px;
    position:absolute;
}
.otherIndustry{
    width:100%;
    height:40px;
    padding-left:15px;
    font-size: 14px;
    border: none;
}
.detailDescribe{
    display: block;
    height: 18px;
    border: none;
    width: 100%;
    padding-right: 15px;
    font-size: 14px;
    line-height: 18px;
    resize: none;
    /*height: 40px;*/
    overflow: hidden;
    max-height: 100px;
}
.describe{
    width: 100%;
}
.describe p {
    padding-left: 15px;
    color: #888888;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 1.6rem;
}
.describe textarea {
    width: 100%;
    border: none;
    padding-left: 15px;
}
.describe div {
    width: 95%;
    margin-left: 15px;
    font-size: 14px;
}
.policyCount{
    display: inline-block;
    color:#8898EB;
    position:absolute;
    top:0;
    right:15px;
}
/*发布风控样式结束*/


/*apply_invest页面设置*/
.applyHeader{
    height:100px;
    width:100%;
    background:#868ee3;
    border:1px solid transparent;

}
.applyHeader p{
    color:#ffffff;
    padding-left: 15px;


}
.applyHeaderP1{
    font-size:1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
.applyHeaderP2{
    font-size: 1.4rem;
}
.moneyStepTop {
    position: relative;
    background: #fff;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #f0f0f0;
}
.moneyStepTopP{
    padding-top: 10px;
    padding-left: 15px;
    font-size: 14px;
    color:#888888;
}
.moneyStepTopInput {
    margin-top: 8px;
    padding-left: 15px;
    border: none;
    width:66%;
}
.moneyIcon{
    display:inline-block;
    width:22px;
    height:22px;
    background: url('../img/icon/arrow1.png') no-repeat ;
    -moz-background-size:70%;
    background-size:100%;
    position:absolute;
    right:15px;
    top:14px;
}

.nameCard{
    width:100%;
    height: 200px;
}
.nameCardP1{
    width:100%;
    padding-left: 15px;
    font-size: 14px;
    margin-top: 10px;
    color:#888888;
}
.nameCardP2{
    width:90%;
    margin: 10px auto;
    font-size: 14px;
}
.imgBox{
    width:166px;
    height:112px;
    margin:28px auto 0;
    background: #f0f0f0;
    /*margin-top: 30px;*/
    position:relative;
    border:1px solid transparent;

}
.imgBox .img1{

    max-width: 28%;
    position:absolute;
    top:20px;
    left:37%;
}
.imgBox .img2{

    width:166px;
    height:112px;
}
.imgBox p{
    width:100%;
    font-size: 1.4rem;
    color:#4c4c4c;
    text-align: center;
    margin-top: 80px;
}

/*我的钱包样式开始*/
.walletHeader{
    width:100%;
    height:108px;
    background:#55555d;
    border:1px solid transparent;
    padding-top: 30px;
}
.walletTittle{
    height:20px;
    text-align: center;
    font-size:12px;
    color:#ffffff;
}
.moneyCount{
    line-height: 50px;
    font-size: 12px;
    color:#ffffff;
    text-align: center;
}
.moneyCount span{
    margin-left: 10px;
    display:inline-block;
    font-size: 24px;
}
.cardBinding{
    width:100%;
    height:45px;
    background:#ffffff;
    position:relative;
    padding-left: 15px;
}
.bindingTittle{
    font-size: 14px;
    line-height: 50px;
}
.bindingBtn{
    width:18px;
    height:18px;
    background: #eaeaea;
    border-radius: 50%;
    color:#ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    position:absolute;
    top:14px;
    right:15px;
}
.cardShow {
    padding: 0 15px 15px;
    height: calc(100% - 153px);
    overflow: scroll;
}
.bankcard{
    height:95px;
    background: linear-gradient(to right,#f97383,#e78989);
    margin:15px auto 0;
    border-radius: 12px 12px 0 0;
}

.bankcard div{
}
.bankcardLeft img{
    width:30px;
    height:30px;
    margin: 15px;
    border-radius: 50%;
}
.bankcardRight{
    padding-top: 15px;
    color:#ffffff;


}
.bankName{
    font-size: 14px;
    font-family: "Arial Black";

}
.bankcardClass{
    font-family: "Arial Black";
    font-size: 12px;
    line-height: 16px;
}
.bankcardNum{
    font-size: 16px;
    line-height: 38px;
    font-family: "microsoft yahei";
    letter-spacing: 1px;
}
/*我的钱包样式结束*/
/*添加银行卡*/
#passwordPost{
    width: 100%;
    height: 100%;
    padding-top: 123px;
}
.passwordTips {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.passwordText {
    width: 270px;
    height: 47px;
    line-height: 47px;
    margin: 0 auto;
    padding-left: 20px;
    letter-spacing:38px;
    background: url("../img/icon/password_bg.png");
    background-size: 100%;
}

.passwordInput:hover{
    border: none;
}
.passwordInput:focus{
    outline: none;
    border: none;
}

.passwordInput{
    outline: none;
    border: none;
    position: absolute;
    z-index: -100;
    left: 45%;
    margin-top: -18px;
}

.addCardDiv {
    height: 45px;
    background: white;
    border-bottom: 1px solid #f0f0f0;
}

.addCardSpan {
    display: inline-block;
    width: 50px
}

.alertCard {
    float: right;
    width: 20px;
    height: 20px;
    background: #f00;
    margin-right: 15px;
    margin-top: 13px;
}

.addCardInput {
    border: none;
    height: 44px;
}

.coverAlert {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #888888;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.7;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.alertTip {
    /* position: absolute;
     top: 100px;*/
    margin: 100px auto 0;
    width: 275px;
    height: 183px;
    background: #ffffff;
    border-radius: 12px;
}

.alertTipTittle {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
}

.alertTipContent {
    padding: 0 15px 0;
    font-size: 14px;
    margin-top: 10px;
}

.exitAlert {
    width: 80%;
    height: 40px;
    font-size: 18px;
    background: linear-gradient(to right, #8898EB, #6045BB);
    margin-top: 30px;
    border-radius: 26px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    letter-spacing: 2px;
    box-shadow: 0 8px 8px #ccc;
    cursor: pointer;
    border: none;
}

.next {
    width: 70%;
    height: 40px;
    background: #f0f0f0;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    /*position: fixed;*/
    /*bottom: 2%;*/
    /*right: 15%;*/
    /*color: #888888;*/
    position:absolute;
    bottom:15px;
    right:15%;
    color:#888888;
    letter-spacing: 2px;

}

/*我的消息*/
.msgtishi {
    width: 100%;
    /*height:76px;*/
    background: #ffffff;
    position: relative;
    margin-bottom: 8px;
    /*border:1px solid red;*/

}

.tishiimg {
    /*vertical-align: middle;*/
    padding-top: 10px;
    font-size: 1.6rem;
    color: #f97383;
    padding-left: 5%;
}

.tishiimg span {
    vertical-align: middle;
}

.tishiimg img {
    vertical-align: middle;
    max-width: 8.5%;
    font-size: 1.6rem;
    color: #f97383;
}

.msgtishi p {
    width: 88%;
    padding-left: 15%;
    font-size: 1.4rem;
    padding-bottom: 12px;
}

/*我的消息*/