



/*release1的样式开始*/



/*release8勾选贷款方式样式开始*/
/*.chccontainer{
    width:70%;
    height:55%;

}
.chkboxLine{
    width:96%;
    border-bottom:2px solid #f0f0f0;
    margin: 3px auto;
    position:relative;
    height:30px;
    !*border:1px solid red;*!

}*/

/*.surebtn{
    width:78%;
    height:38px;
    margin:0 auto;
    margin-top: 26px;
    background:linear-gradient(to right,#8898EB,#6045BB);
    font-size:2rem ;
    color:#fff;
    line-height:36px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 6px 6px #ccc;
}
.surebtntwo{
    width:78%;
    height:38px;
    margin:0 auto;
    background:linear-gradient(to right,#8898EB,#6045BB);
    font-size:2rem ;
    color:#fff;
    line-height:36px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 6px 6px #ccc;
    position:absolute;
    left:11%;
    top:140px;
}*/
/*.coverInner{

    background: #ffffff;
    z-index: 10;

}
.coverinnertop{
    width:76%;
    height:28px;
    position:fixed;

    border-radius: 12px;
    background: #ffffff;
    z-index: 10;
}

.moneyzhezhaoceng{
    width:100%;
    height:100%
}*/
/*.cover{
    width:100%;
    height:100%;
    background:#55555D;
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    opacity:0.6;
}*/
/*release8勾选贷款方式样式开始*/


/* .noreqname{
     font-size:14px;
     margin-top: 10px;
     color:#888888;
 }*/


/*release2和3样式结束*/

/*release4样式开始*/
/*.mortgage{
    width:100%;
    height:50px;
    font-size:16px;
    line-height: 40px;

}*/




/*.lineclear{
    border-right: 1px solid #ffffff;
}*/
/*.collateral2{
    width:100%;
    !*border-bottom:1px solid #f0f0f0;*!
    !*overflow: hidden;*!
}
.collateral2 div{
    float:left;
}*/


/*
.load{
    width:100%;
    height:62px;
    margin-top: 20px;
    border-bottom:1px solid #f0f0f0;
}
*/

/*.loadimg{
    display: inline-block;
    width:44px;
    height:44px;
    border:1px solid gray;
    margin-left: 15px;
}*/





/*.sureslecte{
    width:86%;
    height:45px;
    position:fixed;
    bottom:15px;
    left:7%;
    font-size:20px;

}
.sureslecte1{
    !*border:1px solid #f0f0f0;*!
    border-top:1px solid #f0f0f0;
    color: #6045BB;
    background:#ffffff;
    border-radius: 25px 0 0 25px;
}
.sureslecte1,.sureslecte2{
    display:inline-block;
    width:49.9%;
    height:45px;
    line-height: 48px;
    text-align: center;
    box-shadow: 0 6px 6px #ccc;
}
.sureslecte2{
    margin-left:-4% ;
    background:linear-gradient(45deg,#8898EB,#6045BB);
    color:#fff;
    box-shadow: 0 6px 6px #ccc;
    border-radius:  0 25px 25px 0;
}*/
/*release4样式结束*/
/*选择行业的样式*/
/*选择行业的样式开始*/



/*show页面样式*/
/*普通用户项目完整度样式开始*/

/*普通用户项目完整度样式结束*/
/*show页面样式*/