/*全局样式开始*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 黑体;


}
html,body{height:100%;
    font-size:62.5%}
body{

    color:#4C4C4C;
    font-size:1.2rem;
    height:100%;
    overflow-x: hidden;
}
/*全局样式结束*/
/*release1的样式开始*/
.information{
    width:100%;
    height:50px;
    font-size: 16px;
    /*border:1px solid red;*/
    line-height: 48px;
    background:#F0F0F0;
    text-indent: 15px;
    color:#888888;
    position:relative;
}
.showInformation{
    height: calc(100% - 210px);
    overflow: scroll;
}
.viprelease1Header{
    width:100%;
    height:100px;
    background: url('../img/icon/header.png') no-repeat center center;
    background-size: cover;
}
.required{
    width:100%;
    height:68px;
    position:relative;
    border-bottom:1px solid #f0f0f0;
    box-sizing: border-box;

}
.reqname{
    padding-top: 14px;
}
.reqnamespan1,.reqnamespan2{
    display: inline-block;
    font-size: 14px;
    color:#4c4c4c;
}
.setafter{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 15px;
    color:#888888;
    margin-top:10px;
}
.reqtishiafter{
    color:#4c4c4c;
    width: 80%;
    height: 30px;
    margin-top: 4px;
    margin-left: 15px;
    /*border: none;*/
    /*border:1px solid red;*/
    line-height: 30px;
    font-size: 1.5rem;
}
.reqnamespan1{
    width:8px;
    height:8px;
    background:#f97383;
    border-radius: 50%;
    margin-left:15px;

}
.reqtishi{
    width: 80%;
    height: 30px;
    margin-top: 4px;
    margin-left: 15px;
    /*border: none;*/
    /*border:1px solid red;*/
   line-height: 30px;
    font-size: 1.5rem;
    color:#888888;
}

.required input,.norequired input{
    width:80%;
    /*height:28px;*/
    margin-top: 12px;
    margin-left:15px;
    border:none;
    font-size: 14px;
    color:#888888;
}
.setupimg{
    position:absolute;
    display: inline-block;
    /*border:1px solid red;*/
    width:22px;
    height:22px;
    /*margin-left: 3%;*/
    background:url("../img/icon/setup.png") no-repeat;
    background-size:100%;
    top:23px;
    right:15px;

}
.divinput{
    width: 86%;
    height: 28px;
    margin-top: 8px;
    margin-left: 15px;
    border: none;
    font-size: 1.4rem;
    color: #4c4c4c;
}
.viprelease1Headerp1{
    font-size: 16px;
    color:#ffffff;
    padding-top: 30px;
    padding-left:5%;
    padding-bottom: 5px;
}
.viprelease1Headerp2{
    font-size: 14px;
    color:#ffffff;
    margin-left:5%;
}
.next{
    width:70%;
    height:40px;
    background:#f0f0f0;
    border:none;
    border-radius:20px;
    font-size: 18px;
    position:fixed;
    bottom:2%;
    right:15%;
    color:#888888;
    letter-spacing: 2px;

}

/*release1的样式结束*/

/*release8勾选贷款方式样式开始*/
.chccontainer{
    width:70%;
    height:55%;

}
.chkboxline{
    width:96%;
    border-bottom:2px solid #f0f0f0;
    margin: 3px auto;
    position:relative;
    height:30px;
    /*border:1px solid red;*/

}
.mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#55555D;
    display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;      /* OLD: Firefox (buggy) */
    display: -ms-flexbox;   /* MID: IE 10 */
    display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
    display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

    -webkit-box-align: center; -moz-box-align: center; /* OLD… */
    -ms-flex-align: center; /* You know the drill now… */
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center; -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    opacity: 0.7;
}

.chkbox{
    width:76%;
    background: #fff;
    border-radius: 12px;
    z-index:3;
    height:336px;
    font-size: 1.5rem;
    overflow: auto;


}

.check{
    display: inline-block;
    /*border:1px solid red;*/
    width:20px;
    height:20px;
    background:url("../img/icon/check.png") no-repeat 0 3px;
    background-size:100%;

}
.checknext{
    display: inline-block;
    /*border:1px solid red;*/
    width:28px;
    height:28px;
    background:url("../img/icon/check.png") no-repeat 0 3px;
    background-size:72%;
}
.checkednext{
    display: inline-block;
    width:28px;
    height:28px;
    background-size:72% !important;
    background:url("../img/icon/checked.png") no-repeat 0 3px;
}
.checked{

    display: inline-block;
    width:20px;
    height:20px;
    background-size:100% !important;
    background:url("../img/icon/checked.png") no-repeat 0 3px;
}
.buxiang{
    position:absolute;
    display: inline-block;
    top:2px;
    left:50px;
}
.surebtn{
    width:78%;
    height:38px;
    margin:0 auto;
    margin-top: 26px;
    background:linear-gradient(to right,#8898EB,#6045BB);
    font-size:2rem ;
    color:#fff;
    line-height:36px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 6px 6px #ccc;
}
.surebtntwo{
    width:78%;
    height:38px;
    margin:0 auto;
    background:linear-gradient(to right,#8898EB,#6045BB);
    font-size:2rem ;
    color:#fff;
    line-height:36px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 6px 6px #ccc;
    position:absolute;
    left:11%;
    top:140px;
}
.coverinner{
    width:76%;
    height:99px;
    /*border:1px solid red;*/
    position:fixed;
    /*bottom:14%;*/
    background: #ffffff;
    z-index: 10;
    border-radius: 12px;
    margin-top:237px;
    /*opacity: 0.9;*/
}
.coverinnertop{
    width:76%;
    height:28px;
    position:fixed;
    /*bottom:399px;*/
    /*border:1px solid red;*/
    border-radius: 12px;
    background: #ffffff;
    z-index: 10;
}

.moneyzhezhaoceng{
    width:100%;
    height:100%
}
.cover{
    width:100%;
    height:100%;
    background:#55555D;
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    opacity:0.6;
}
/*release8勾选贷款方式样式开始*/
/*release2和3样式开始*/
 .upload{
     width:100%;
     height:73px;
     border-bottom:1px solid #f0f0f0;
     line-height: 73px;
     position:relative;
     background: #f97383;
 }
 .upload span{
     display: inline-block;
 }
 .uploadtext{
     width:66%;
     font-size:16px;
     color:#ffffff;
     /*border:1px solid red;*/
     margin-left:56px;
 }
 .uploadimg{
     width:40px;
     height:40px;
     right:15px;
     position:absolute;
     top:16px;
     display: block;


 }
 .uploadup{
     width:28px;
     height:28px;
     background: url("../img/icon/up.png");
     background-size: 100%;
     position:absolute;
     left:15px;
     top:22px;
 }
.portrait{
    width:42px;
    height:42px;
    position:absolute;
    top:13px;
    right:15px;
    border:none;
    display:none;
    border-radius: 6px;
}
 .noreqname{
     font-size:1.45rem;
     margin-left: 15px;
     margin-top: 10px;
     color:#888888;
 }
 .norequired{
     border-bottom:1px solid #f0f0f0;
     width:100%;
     height:68px;
     position:relative;
     border-left: 1px solid transparent;
     border-right: 1px solid transparent;
     border-top: 1px solid transparent;
 }
.release{
    width:60%;
    height:40px;
    font-size:2rem;
    background:linear-gradient(to right,#8898EB,#6045BB);
    position:fixed;
    bottom: 20px;
    margin-left: 20%;
    border-radius: 26px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    letter-spacing: 2px;
    box-shadow: 0 8px 8px #ccc;
    cursor:pointer;
    border:none;
}
/*release2和3样式结束*/

/*release4样式开始*/
.mortgage{
    width:100%;
    height:50px;
    font-size:1.7rem;
    /*border:1px solid red;*/
    line-height: 40px;

}
.mortgagewu{
    margin-top: 8px;
    width:100%;
    overflow: hidden;
    /*border-bottom: 1px solid #f0f0f0;*/
}
.mortgagewu1{
    width:100%;
}

.coverRightBorder {
    position: absolute;
    right: 0px;
    z-index: 20;
    width: 2%;
    height: 100px;
    /*background-color: red;*/
    /*margin-left: 1%;*/
}

.mortgagewu1 span{
    /*display:inline-block;*/
}
.mortgagewuline{
    /*width:95%;*/
    margin:10px 10px 0 0;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    /*margin-top: 10px;*/
}

.mortgagewudiv{
    display:inline-block;
    height: 20px;
    position:relative;
    margin-top: 11px;
    margin-bottom: 12px;
    width:33%;
    border-right: 1px solid #f0f0f0;
   padding-left: 15px;
    /*border-bottom:1px solid #f0f0f0;*/
}
.checkwenzi{
    display: inline-block;
    font-size: 1.4rem;
    position:absolute;
    top:4px;
}
.lineclear{
    border-right: 1px solid #ffffff;
}


.bottomline{
    width:90%;
    border-bottom:1px solid #f0f0f0;
    margin: 0 auto;
    padding-top: 8px;

}
.xushu{

    width:92%;
    margin-left:15px;
    font-size:1.6rem;
    margin-top: 15px;
    color:#888888;
    border:1px solid transparent;

}
.load{
    width:100%;
    height:62px;
    margin-top: 20px;
    border-bottom:1px solid #f0f0f0;
}
.loadlast{
    width:100%;
    margin-top: 86px;
    height:10px;
    margin-bottom: 60px;
}
.loadimg{
    display: inline-block;
    width:44px;
    height:44px;
    border:1px solid gray;
    margin-left: 15px;
}
.loadjia{
    display: inline-block;
    width:40px;
    height:40px;
    margin-top: 8px;
    background: url('../img/icon/upload1.png');
    background-size: 100%;
    opacity: 0.7;
}



.redPoint{
    position:absolute;
    top: -8px;
    right: -8px;
    padding-top: 8px;
    z-index:2;
    width: 18px;
    height:18px;
    border-radius: 100%;
    border: none;
    background: #f97383;
}
.redPointInner{
    margin: 0px auto 0px;

    width: 10px;
    height:2px;
    border-radius: 1px;
    background:#ffffff;
}

.sureslecte{
    width:86%;
    height:50px;
    position:fixed;
    bottom:16px;
    left:7%;
    font-size:2.1rem;

}
.sureslecte1{
    /*border:1px solid #f0f0f0;*/
    border-top:1px solid #f0f0f0;
    color: #6045BB;
    background:#ffffff;
    border-radius: 25px 0 0 25px;
}
.sureslecte1,.sureslecte2{
    display:inline-block;
    width:49.9%;
    height:50px;
    line-height: 48px;
    text-align: center;
    box-shadow: 0 6px 6px #ccc;
}
.sureslecte2{
    margin-left:-4% ;
    background:linear-gradient(to right,#8898EB,#6045BB);
    color:#fff;
    box-shadow: 0 6px 6px #ccc;
    border-radius:  0 25px 25px 0;
}
/*release4样式结束*/
/*选择行业的样式*/
/*选择行业的样式开始*/
.next3{
    width:60%;
    height:40px;
    font-size:2rem;
    background:linear-gradient(to right,#8898EB,#6045BB);
    position:fixed;
    bottom: 17%;
    /*margin-left: 20%;*/
    left:20%;
    border-radius: 26px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    letter-spacing: 2px;
    box-shadow: 0 8px 8px #ccc;
    cursor:pointer;
    border:none;
    z-index:11;
}
.next4{
    width:60%;
    height:40px;
    font-size:2rem;
    background:linear-gradient(to right,#8898EB,#6045BB);
    position:fixed;
    left:20%;
    border-radius: 26px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    letter-spacing: 2px;
    box-shadow: 0 8px 8px #ccc;
    cursor:pointer;
    border:none;
    z-index:11;
    margin-top: 276px;
}