<div class="regForm1">
	<div style="background: #ffffff">
		<input type="text" placeholder="请输入手机号" class="phoneCode"
			ng-model="loginUser.mobile" onkeyup="value=value.replace(/[^\d{1,}\d{1,}|\d{1,}]/g,'')"/>
	    <input type="password" placeholder="请输入密码" class="phoneCode"
	    	ng-model="loginUser.password"/>
    </div>
    <p class="forget" ng-click="reset()">忘记密码</p>
    <input  type="submit" class="regRelease" value="登录" ng-click="login()"/>
    <div class="newUser" ng-click="register()">注册新用户</div>
    <div class="prompt" ng-show="error_msg">
    	{{error_msg}}
    </div>

</div>