<div class="regForm1">
	<div style="background: #ffffff">
    <input type="text" placeholder="请输入手机号" class="phoneCode" id="mobile"
    	maxlength="11" size="11" ng-model="resetUser.mobile"
    	onkeyup="value=value.replace(/[^\d{1,}\d{1,}|\d{1,}]/g,'')"
    	ng-blur="validate_mobile()" />	
    <div class="Verification">
        <input type="text" placeholder="请输入验证码" class="verCode" id="code"
        	ng-model="resetUser.code" ng-change="changeCode()">
        <span class="verBtn" ng-click="send_code()" ng-show="send_sms">发送验证码</span>
        <span class="verBtn" ng-hide="send_sms">{{sms_second}}s</span>
    </div>
    </div>
    <div class="prompt">
    	{{error_msg}}
    </div>
    <input type="button" value="下一步" class="regRelease" ng-click="validateCode()" ng-show="isVerify"/>
    <input type="button" value="下一步" class="hideClass" ng-hide="isVerify"/>
    
</div>    