<div class="regForm1">
	<div style="background: #ffffff">
        <input type="text" placeholder="请输入手机号" class="phoneCode" id="mobile" maxlength="11"
            maxlength="11" size="11" ng-model="resetUser.mobile"
            onkeyup="if(event.keyCode !=37 && event.keyCode != 39){if (! /^\d+$/ig.test(this.value)){this.value=this.value.replace(/[^\d]/ig,'')}}"
            ng-blur="validate_mobile()" />
        <div class="Verification">
            <input type="text" placeholder="请输入验证码" class="verCode" id="code" maxlength="6"
                ng-model="resetUser.code" ng-change="changeCode()">
            <span class="verBtn fr" ng-click="send_code()" ng-show="send_sms">发送验证码</span>
            <span class="verBtn fr" ng-hide="send_sms">{{sms_second}}s</span>
        </div>
    </div>
    <div class="prompt">
        <div> {{error_msg}}</div>
    </div>
    <input type="button" value="下一步" class="regRelease" ng-click="validateCode()" ng-show="isVerify"/>
    <div class="hideClass" ng-hide="isVerify">下一步</div>
    
</div>    