<div style="height:100%;background:#f0f0f0;overflow-y: auto">
    <div class="managementheader">
        <span class="managementheaderspan1" >已发布</span>
        <span class="managementheaderspan2 current" >未发布</span>
    </div>
    <div class="bidding">
        <p class="biddingname">
            <span class="redcircle"></span>
            <span class="biddingname1 bddnaclass2">小白羊羊杂割餐饮有限责任公司</span>
            <span class="biddingname2">生活消费</span>
        </p>
        <div class="expect">
            <div class="expect_border">
                <p>融资金额</p>
                <span class="term" >500万</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">6个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">10%-25%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progresschild" style="width:0;"></div>
        </div>
        <p class="progresstittle5" >等待发布</p>
    </div>
    <div class="bidding">
        <p class="biddingname">
            <!--<span class="redcircle"></span>-->
            <span class="biddingname1">小白羊羊杂割餐饮有限责任公司</span>
            <span class="biddingname2">大农业</span>
        </p>
        <div class="expect">
            <div class="expect_border">
                <p>融资金额</p>
                <span class="term" >500万</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">6个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">10%-25%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progresschild" style="width:0;"></div>
        </div>
        <p class="progresstittle4" >签约失败</p>
    </div>
    <div class="bidding">
        <p class="biddingname">
            <!--<span class="redcircle"></span>-->
            <span class="biddingname1">小白羊羊杂割餐饮有限责任公司</span>
            <span class="biddingname2">大农业</span>
        </p>
        <div class="expect">
            <div class="expect_border">
                <p>融资金额</p>
                <span class="term" >500万</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">6个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">10%-25%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progresschild" style="width:0;"></div>
        </div>
        <p class="progresstittle4" >取消签约</p>
    </div>
    <div class="bidding">
        <p class="biddingname">
            <!--<span class="redcircle"></span>-->
            <span class="biddingname1">小白羊羊杂割餐饮有限责任公司</span>
            <span class="biddingname2">大农业</span>
        </p>
        <div class="expect">
            <div class="expect_border">
                <p>融资金额</p>
                <span class="term" >500万</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">6个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">10%-25%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progresschild" style="width:0;"></div>
        </div>
        <p class="progresstittle4" >取消签约</p>
    </div>
    <div class="bidding">
        <p class="biddingname">
            <!--<span class="redcircle"></span>-->
            <span class="biddingname1">小白羊羊杂割餐饮有限责任公司</span>
            <span class="biddingname2">大农业</span>
        </p>
        <div class="expect">
            <div class="expect_border">
                <p>融资金额</p>
                <span class="term" >500万</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">6个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">10%-25%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progresschild" style="width:0;"></div>
        </div>
        <p class="progresstittle4" >取消签约</p>
    </div>
    <div class="selbtn">
        <div class="selbtntop"></div>
        <span class="selbtnleft">删除</span>
        <span  class="selbtnmiddle"></span>
        <span class="selbtnleft">取消</span>
    </div>
</div>