<div style="height:100%;background: #f0f0f0;overflow-y: auto">
    <div class="managementheader">
        <span class="managementheaderspan1  current">已发布</span>
        <span class="managementheaderspan2">未发布</span>
    </div>
    <div class="bidding">
        <p class="biddingname">
            <span class="checknext" style="display:none"></span>
            <span class="checkednext" ></span>
            <span class="biddingname3">速配云景科技有限公司</span>
            <span class="biddingname2">生活消费</span>
        </p>
        <div class="expect">
            <div class="expect_border">
                <p>融资金额</p>
                <span class="term" >500万</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">6个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">10%-25%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progresschild" style="width:30%;"></div>
        </div>
        <p class="progresstittle1" >等待联系</p>
    </div>
    <div class="bidding">
        <p class="biddingname">
            <span class="checknext"></span>
            <span class="checkednext" style="display:none"></span>
            <span class="biddingname3">速配云景科技有限公司</span>
            <span class="biddingname2">生活消费</span>
        </p>
        <div class="expect">
            <div class="expect_border">
                <p>融资金额</p>
                <span class="term" >500万</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">6个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">10%-25%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progresschild" style="width:50%;"></div>
        </div>
        <p class="progresstittle2" >跟进中</p>
    </div>
    <div class="bidding">
        <p class="biddingname">
            <span class="checknext"></span>
            <span class="checkednext" style="display:none"></span>
            <span class="biddingname3">速配云景科技有限公司</span>
            <span class="biddingname2">生活消费</span>
        </p>
        <div class="expect">
            <div class="expect_border">
                <p>融资金额</p>
                <span class="term" >500万</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">6个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">10%-25%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progresschild" style="width:100%;"></div>
        </div>
        <p class="progresstittle3" >签约成功</p>

    </div>
    <div class="bidding">
        <p class="biddingname">
            <span class="checknext"></span>
            <span class="checkednext" style="display:none"></span>
            <span class="biddingname3">速配云景科技有限公司</span>
            <span class="biddingname2">生活消费</span>
        </p>
        <div class="expect">
            <div class="expect_border">
                <p>融资金额</p>
                <span class="term" >500万</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">6个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">10%-25%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progresschild" style="width:0;"></div>
        </div>
        <p class="progresstittle4" >签约失败</p>
    </div>
    <div class="selbtn">
        <div class="selbtntop"></div>
        <span class="selbtnleft">发送</span>
        <span  class="selbtnmiddle"></span>
        <span class="selbtnleft">取消</span>
    </div>
</div>