
<!--贷款方式-->
<div class="chkbox">

    <li class="chkboxline" ng-repeat="branch in branch_list">
        <span class="check"></span>
        <span class="checked"></span>
        <span class="buxiang">{{branch}}</span>
    </li>

    <li class="chkboxline" style="margin-bottom: 60px;">
        <span class="check"></span>
        <span class="checked"></span>
        <span class="buxiang">生活消费（衣食住行）</span>
    </li>
    
    <!--<li class="surebtn">确定</li>-->
    <input  type='submit'class="next3" value="确定" />
</div>

<!--遮罩层-->
<div class="cover"></div>
