<div class="viprelease1Header">
    <p class="viprelease1Headerp1">温馨提示：</p>
    <p class="viprelease1Headerp2">信息越完整，成功率越高!</p>
</div>
<div class="information">精准信息</div>
<div  class="mortgage">
    <span class="reqnamespan1"></span>
    <span class="reqnamespan2">抵押物</span>
</div>
<div class="mortgagewu">
    <div class="mortgagewu1">
        <div class="mortgagewudiv" ng-repeat="pledgeType in pledgeTypeList">
            <span ng-class="{true: 'check', false: 'checked'}[pledgeType.check]></span>
            <span class="checkwenzi">{{pledgeType.name}}</span>
            <p class="mortgagewuline"></p>
        </div>
    </div>
</div>
<textarea name="" id="" cols="" rows="3" class="xushu">
	请具体描述下抵押物的金额、权属情况、股票号等信息。也可以点击加号直接上传房本、车本、股票号等数据图片。
</textarea>
<div class="loadlie">
    <input type="file" id="choose"  multiple>
    <ul class="img-list"></ul>
    <a id="upload" class="loadjia"></a>
</div>

<div class=" required" style="margin-top: 86px;">
    <div class="reqname">
        <span class="reqnamespan1"></span>
        <span class="reqnamespan2">年实际经营流水（万元）</span>
    </div>
    <input type="text" placeholder="20036">
</div>
<div class="norequired">
    <div class="noreqname">对公账户流水（万元）</div>
    <input type="text" placeholder="请输入对公账户流水">
</div>
<div class="norequired">
    <div class="noreqname">贷款方式</div>
    <div class="reqtishi">请选择您要融资的金额</div>
    <span class="setupimg"></span>
</div>

<div class="norequired">
    <div class="noreqname">财务信息（应收 资产规模）</div>
    <input type="text" placeholder="点击加号添加财务报表图片">
</div>

<div class="loadlie">
    <input type="file" id="choose"  multiple>
    <ul class="img-list"></ul>
    <a id="upload" class="loadjia"></a>
</div>
<div class="norequired" style="margin-top: 86px;">
    <div class="noreqname">业务往来</div>
    <input type="text" placeholder="请输入几个上下游主要客户和采购对象">
</div>
<div class="norequired">
    <div class="noreqname">法人户籍</div>
    <input type="text" placeholder="请输入法人户籍">
</div>
<div class="norequired">
    <div class="noreqname">公司优势</div>
    <input type="text" placeholder="请输入公司的其他贷款优势">
</div>
<div class="loadlie">
    <input type="file" id="choose"  multiple>
    <ul class="img-list"></ul>
    <a id="upload" class="loadjia"></a>
</div>
<div  class="loadlast"></div>

<div class="sureslecte">
    <span class="sureslecte1">保存</span>
    <span class="sureslecte2">发布</span>
</div>