<div style="height:100%;background:#ffffff;">
    <div class="viprelease1Header">
        <p class="viprelease1Headerp1">温馨提示：</p>
        <p class="viprelease1Headerp2">信息越完整，成功率越高!</p>
    </div>
    <div class="information">基本信息</div>
    <div class="showInformation">
        <div class=" required" ng-click="create_license()">
            <div ng-class="setStyle_div2(createArticle.license.regTime,createArticle.license.businessName)">
                <span class="reqNameSpan1" ng-hide="createArticle.license.regTime && createArticle.license.businessName"></span>
                <span class="reqNameSpan2" >营业执照</span>
            </div>
            <div class="reqTips">{{createArticle.license.regTime || '请上传您公司的营业执照'}}</div>
            <span class="setupimg"></span>
        </div>
         <div class=" required" id="aomuntmoney">
             <!--<div class=" required" ng-click="choose_loanValue()" id="aomuntmoney">    -->
             <div ng-class="setStyle_div(createArticle.loanValue)">
                 <span class="reqNameSpan1" ng-hide="createArticle.loanValue"></span>
                 <span class="reqNameSpan2">融资金额</span>
             </div>
             <div class="reqTips" ng-hide="createArticle.loanValue">请选择您要融资的金额</div>
             <div class="reqTipsafter" ng-show="createArticle.loanValue">{{createArticle.loanValue}}万</div>
             <input type="hidden" id="loanValue" onchange="angular.element(this).scope().changeLoanValue()"/>
             <span class="setupimg"></span>
         </div>
         <div class=" required" id="term">
             <div ng-class="setStyle_div(createArticle.loanLife)" >
                 <span class="reqNameSpan1" ng-hide="createArticle.loanLife"></span>
                 <span class="reqNameSpan2">融资期限</span>
             </div>
             <div class="reqTips" ng-hide="createArticle.loanLife">请选择您要融资的期限</div>
             <div class="reqTipsafter" ng-show="createArticle.loanLife">{{createArticle.loanLife}}个月</div>
             <input type="hidden" id="loanLife" onchange="angular.element(this).scope().changeLoanLife()"/>
             <span class="setupimg"></span>
         </div>
         <div class=" required" id="rate">
             <div ng-class="setStyle_div(createArticle.rateCap)">
                 <span class="reqNameSpan1" ng-hide="createArticle.rateCap"></span>
                 <span class="reqNameSpan2">接受利率</span>

             </div>
             <div class="reqTips" ng-hide="createArticle.rateCap">请选择您要融资的金额</div>
             <div class="reqTipsafter" ng-show="createArticle.rateCap">{{createArticle.rateCap}}%-{{createArticle.rateFloor}}%</div>
             <input type="hidden" id="rateCap" onchange="angular.element(this).scope().changeRateCap()"/>
             <input type="hidden" id="rateFloor" onchange="angular.element(this).scope().changeRateFloor()"/>
             <span class="setupimg"></span>
         </div>
         <div class=" required" ng-click="choose_classification()">
             <div ng-class="setStyle_div(createArticle.classification)">
                 <span class="reqNameSpan1" ng-hide="createArticle.classification"></span>
                 <span class="reqNameSpan2">行业分类</span>
             </div>
             <div class="reqTips" >{{createArticle.classification || '请选择您的行业'}}</div>
             <span class="setupimg"></span>
         </div>

         <input type="submit" value="下一步" class="next" ng-click="next_step()"/>
         <!--插件中加的div-->
         <div id="datePlugin"></div>
         <!--选取金额的布局开始-->
         <ul id="treelist"></ul>
         <!--选取金额的布局结束-->
     </div>
</div>
