<div class="viprelease1Header">
    <p class="viprelease1Headerp1">温馨提示：</p>
    <p class="viprelease1Headerp2">信息越完整，成功率越高!</p>
</div>
<div class="information">精准信息</div>
<div  class="mortgage">
    <span class="reqnamespan1"></span>
    <span class="reqnamespan2">抵押物</span>
</div>
<div class="mortgagewu">
    <div class="mortgagewu1">
        <div class="mortgagewudiv" ng-repeat="pt in pledgeTypeList" ng-click="check(pt.name)">
            <span ng-class="{false: 'check', true: 'checked'}[pt.check]"></span>
            <span class="checkwenzi">{{pt.name}}</span>
            <p class="mortgagewuline"></p>
        </div>
    </div>
    <div class="coverRightBorder fl"></div>
</div>
<textarea cols="" rows="3" class="xushu" ng-model="articleStep2.pledge">

</textarea>
<div class="loadlie clear" id="upload_pledgeImg">
	<div class="img-list fl" ng-repeat="pledgeImg in articleStep2.pledgeImgs" ng-click="removePledgeImg($index)">
        <img src="{{pledgeImg}}" alt="" style="border: 0">
        <div class="redPoint">
            <div class="redPointInner"></div>
        </div>
    </div>
	<img id="pickPledgeImg" class="loadjia fl">
</div>

<div class=" required" style="margin-top: 86px;">
    <div ng-class="setStyle_div(articleStep2.continualOperateYear)">
        <span class="reqnamespan1" ng-hide="articleStep2.continualOperateYear"></span>
        <span class="reqnamespan2">年实际经营流水（万元）</span>
    </div>
    <input type="text" placeholder="请输入对公账户流水" ng-model="articleStep2.continualOperateYear"/>
</div>
<div class="norequired">
    <div class="noreqname">对公账户流水（万元）</div>
    <input type="text" placeholder="请输入对公账户流水" ng-model="articleStep2.continualPublicYear"/>
</div>
<div class="norequired" ng-click="choose_credit()">
    <div class="noreqname">贷款方式</div>
    <div class="reqtishi">{{articleStep2.credit || '请选择贷款方式'}}</div>
    <span class="setupimg"></span>
</div>

<div class="norequired">
    <div class="noreqname">财务信息（应收 资产规模）</div>
    <input type="text" placeholder="点击加号添加财务报表图片" ng-model="articleStep2.financialInfo"/>
</div>

<div class="loadlie" id="upload_financialImg">
	<div class="img-list fl" ng-repeat="financialImg in articleStep2.financialImgs" ng-click="removeFinancialImg($index)">
        <img src="{{financialImg}}" alt="" style="border: 0">
        <div class="redPoint">
            <div class="redPointInner"></div>
        </div>
	</div>
    <a class="loadjia fl" id="pickFinancialImg"></a>
</div>
<div class="norequired" style="margin-top: 86px;">
    <div class="noreqname">业务往来</div>
    <input type="text" placeholder="请输入几个上下游主要客户和采购对象" ng-model="articleStep2.businessContact"/>
</div>
<div class="norequired">
    <div class="noreqname">法人户籍</div>
    <input type="text" placeholder="请输入法人户籍" ng-model="articleStep2.corporateResidence"/>
</div>
<div class="norequired">
    <div class="noreqname">公司优势</div>
    <input type="text" placeholder="请输入公司的其他贷款优势" ng-model="articleStep2.advantages" />
</div>
<div class="loadlie" id="upload_advantagesImg">
	<div class="img-list fl" ng-repeat="advantagesImg in articleStep2.advantagesImgs" ng-click="removeAdvantagesImg($index)">
        <img src="{{advantagesImg}}" alt="" style="border: 0">
        <div class="redPoint">
            <div class="redPointInner"></div>
        </div>
	</div>

    <a class="loadjia fl" id="pickAdvantagesImg"></a>
</div>
<div  class="loadlast"></div>

<div class="sureslecte">
    <span class="sureslecte1" ng-click="save()">保存</span>
    <span class="sureslecte2" ng-click="release()">发布</span>
</div>