 <div style="height:98%;;background:#ffffff;">
<div class="viprelease1Header">
    <p class="viprelease1Headerp1">温馨提示：</p>
    <p class="viprelease1Headerp2">信息越完整，成功率越高!</p>
</div>

<div class="information">基本信息</div>
<div class=" required" ng-click="choose_loanValue()">
    <div ng-class="setStyle_div(createArticle.loanValue)">
        <span class="reqnamespan1" ng-hide="createArticle.loanValue"></span>
        <span class="reqnamespan2">融资金额</span>
    </div>
    <div class="reqtishi" ng-hide="createArticle.loanValue">请选择您要融资的金额</div>
    <div class="reqtishiafter" ng-show="createArticle.loanValue">{{createArticle.loanValue}}</div>
    
    <span class="setupimg"></span>
</div>
<div class=" required" id="term">
    <div ng-class="setStyle_div(createArticle.loanLife)" >
        <span class="reqnamespan1" ng-hide="createArticle.loanLife"></span>
        <span class="reqnamespan2">融资期限</span>
    </div>
    <div class="reqtishi" ng-hide="createArticle.loanLife">请选择您要融资的期限</div>
    <div class="reqtishiafter" ng-show="createArticle.loanLife">{{createArticle.loanLife}}个月</div>
    <input type="hidden" id="loanLife" onchange="angular.element(this).scope().changeLoanLife()"/>
    <span class="setupimg"></span>
</div>
<div class=" required" id="rate">
    <div ng-class="setStyle_div(createArticle.rateCap)">
        <span class="reqnamespan1" ng-hide="createArticle.rateCap"></span>
        <span class="reqnamespan2">接受利率</span>

    </div>
    <div class="reqtishi" ng-hide="createArticle.rateCap">请选择您要融资的金额</div>
    <div class="reqtishiafter" ng-show="createArticle.rateCap">{{createArticle.rateCap}}%-{{createArticle.rateFloor}}%</div>
    <input type="hidden" id="rateCap" onchange="angular.element(this).scope().changeRateCap()"/>
    <input type="hidden" id="rateFloor" onchange="angular.element(this).scope().changeRateFloor()"/>
    <span class="setupimg"></span>
</div>
<div class=" required" ng-click="choose_classification()">
    <div ng-class="setStyle_div(createArticle.classification)">
        <span class="reqnamespan1" ng-hide="createArticle.classification"></span>
        <span class="reqnamespan2">行业分类</span>
    </div>
    <div class="reqtishi" >{{createArticle.classification || '请选择您的行业'}}</div>
    <span class="setupimg"></span>
</div>
<div class=" required" ng-click="create_license()">
    <div class="reqname">
        <span class="reqnamespan1"></span>
        <span class="reqnamespan2">营业执照</span>
    </div>
    <div class="reqtishi">请上传您公司的营业执照</div>
    <span class="setupimg"></span>
</div>
<input type="submit" value="下一步" class="next" ng-click="next_step()"/>
<!--插件中加的div-->
       <div id="datePlugin"></div>
</div>