
<div class="mask">
<ul class=" guarantee">
    <li class="chkboxline">
        <span class="check"></span>
        <span class="checked"></span>
        <span class="buxiang">国企</span>
    </li>
    <li class="chkboxline">
        <span class="check"></span>
        <span class="checked"></span>
        <span class="buxiang">民企</span>
    </li>
    <li class="chkboxline">
        <span class="check"></span>
        <span class="checked"></span>
        <span class="buxiang">政府平台类融资</span>
    </li>
    <li class="surebtntwo">确定</li>
</ul>
<!--遮罩层-->
<!--<div class="cover"></div>-->
 </div>
<script>
    window.onload=function(){
        var chkboxline=document.getElementsByClassName('chkboxline');
        for(var i=0;i<chkboxline.length;i++){
            chkboxline[i].onclick=function(){
                var check=this.querySelector('span');
                var checked=this.querySelectorAll("span")[1];
                checked.style.display='inline-block';
                checked.style.backgroundSize='72%'
                check.style.display='none';
            }
        }
    }
</script>
