<div style="height:100%;background:#ffffff;">
<form action="" name="uploadform1">
   <div class="upload" id="upload_container">
       <span class="uploadup" src=""  alt=""></span>
       <div class="uploadtext">上传营业执照自动录入信息</div>
       <img id="portrait" class="portrait" src=""  >
    <!--<span >上传营业执照自动录入信息</span>-->      
       <img class="uploadimg" id="pickfiles" src="{{license.licenseImgs || 'img/icon/upload.png' }}">
   </div>
</form>

    <div class=" required">
       <div ng-class="setStyle_div(license.businessName)">
           <span class="reqNameSpan1" ng-hide="license.businessName"></span>
           <span class="reqNameSpan2">公司名称</span>
       </div>
	   
       <input type="text" placeholder="请输入公司名称" ng-model="license.businessName" />
    <!--<span class="setupimg"></span>-->
   </div>
   <div class=" required">
       <div ng-class="setStyle_div(license.regTime)">
           <span class="reqNameSpan1" ng-hide="license.regTime"></span>
           <span class="reqNameSpan2 ">注册时间</span>
       </div>
       <input type="text" placeholder="请选择公司注册时间" ng-change="change_time()" ng-model="license.regTime" id="time"/>
       <input type="hidden" id="regTime" onchange="angular.element(this).scope().changeRegTime()"/>
       <span class="setupimg"></span>
   </div>

    <div class="norequired">
       <div class="noreqName">法人代表</div>
       <input type="text" placeholder="请输入法人代表姓名" ng-model="license.corporateRepresentative"/>
    </div>
    
    <div class="norequired" ng-click="choose_type()">
       <div class="noreqName">类型</div>
       <div class="reqtishi" ng-hide="license.businessType">请选择您的公司类型</div>
       <div class="reqtishi" ng-show="license.businessType">{{license.businessType}}</div>

       <!--<input type="text" placeholder="请选择您的公司类型" ng-model="license.businessType"/>-->
       <span class="setupimg"></span>
    </div>
    
    <div class="norequired">
       <div class="noreqName">注册资本</div>
       <input type="text" placeholder="请输入注册资本金额" ng-model="license.regFunds" />
    </div>
    <input type="submit" value="确定" class='next' ng-click="sure()">
<!--插件中加的div-->
    <div id="datePlugin"></div>
</div>
