<div style="height:100%;background:#ffffff;">
<form action="" name="uploadform1">
   <div class="upload">
       <img class="uploadup" src="/zrh-app/img/icon/up.png"  alt="">
       <div class="uploadtext">上传营业执照自动录入信息</div>
       <img id="portrait" class="portrait" src=""  >
    <!--<span >上传营业执照自动录入信息</span>-->
       <input type="file" style="display: none;" id="file"  
       	onchange="angular.element(this).scope().upload()" accept="image/*">
       <span class="uploadimg" id="uploading" ng-click="pic_select()"></span>
   </div>
</form>

    <div class=" required">
       <div ng-class="setStyle_div(license.businessName)">
           <span class="reqnamespan1" ng-hide="license.businessName"></span>
           <span class="reqnamespan2">公司名称</span>
       </div>
	   
       <input type="text" placeholder="请输入公司名称" ng-model="license.businessName" />
    <!--<span class="setupimg"></span>-->
   </div>
   <div class=" required">
       <div ng-class="setStyle_div(license.regTime)">
           <span class="reqnamespan1"></span>
           <span class="reqnamespan2 ">注册时间</span>
       </div>
       <input type="text" placeholder="请选择公司注册时间" ng-change="change_time()" ng-model="license.regTime" id="time"/>
       <input type="hidden" id="registrationtime1" ng-model="createArticle.registrationtime1"/>
       <input type="hidden" id="registrationtime2" ng-model="createArticle.registrationtime2"/>
       <input type="hidden" id="registrationtime3" ng-model="createArticle.registrationtime3"/>
       <span class="setupimg"></span>
   </div>

    <div class="norequired">
       <div class="noreqname">法人代表</div>
       <input type="text" placeholder="请输入法人代表姓名" ng-model="license.corporateRepresentative"/>
    </div>
    
    <div class="norequired" ng-click="choose_type()">
       <div class="noreqname">类型</div>
       <div class="reqtishi"  >请选择您的公司类型</div>
       <!--<input type="text" placeholder="请选择您的公司类型" ng-model="license.businessType"/>-->
       <span class="setupimg"></span>
    </div>
    
    <div class="norequired">
       <div class="noreqname">注册资本</div>
       <input type="text" placeholder="请输入注册资本金额" ng-model="license.regFunds" />
    </div>
    <input type="submit" value="确定" class='next' ng-click="sure()">
<!--插件中加的div-->
    <div id="datePlugin"></div>
</div>
