<div class="asideContainer">
    <input type="checkbox" id="tm" />
    <ul class="asideHide">
        <li class="asideLi1">
            <img src="img/icon/recommendl.png"/>
        </li>
        <li class="asideLi5" >找项目</li>
        <li class="asideLi3" ng-click="goto_create()">发布项目</li>
        <li class="asideLi2" ng-click="goto_center()">个人中心</li>
    </ul>
    <label for="tm" class="cartBack"></label>
    <div class="af">
        <label for="tm" class="cart"></label>
    </div>
    <div class="containerDisplay">
        <div class="found-step1" ng-repeat="resultObj in result_list" ng-click="article_show(resultObj.article.id)">
            <div class="tittle">{{resultObj.article.classification}}</div>
            <lable class="amount">
                <div>融资金额</div>
                <div class="countDiv">{{resultObj.article.loanValue}}<span>万</span></div>
            </lable>
            <div class="expect clear">
                <div class="expect_border">
                    <p>营业执照</p>
                    <span>{{resultObj.article.license.regTime}}</span>
                </div>
                <div class="expect_border borderLine">
                    <p>融资期限</p>
                    <span>{{resultObj.article.loanLife}}个月</span>
                </div>
                <div class="expect_border">
                    <p>接受利率</p>
                    <span>{{resultObj.article.rateCap}}%-{{resultObj.article.rateFloor}}%</span>
                </div>
            </div>
            <div class="line"></div>
            <ul class="message">
                <li class="img"></li>
                <li class="messageLi2">推荐人成交率</li>
                <li class="messageLi3">{{resultObj.batting.success}}/{{resultObj.batting.total}}</li>
            </ul>
        </div>
    </div>
</div>