<div class="mobile">
    <input type="checkbox" id="tm" />
    <ul class="foundStep2left">
    <li class="img stepleftli1"></li>
    <li class="stepleftli2">找项目</li>
    <!--<li class="stepleftli3">发布风控标准</li>-->
    <li class="stepleftli4">发布项目</li>
    <li class="stepleftli5">个人中心</li>
</ul>
    <label for="tm" class="step21cart"></label>
    <div class="af">
        <label for="tm" class="step2cart"></label>
    </div>
    <div class="foundStep2right">
        <div class="found-step1" ng-repeat="article in article_list" ng-click="article_show(article.id)">
            <div class="tittle">{{article.classification}}</div>
            <lable class="amount">
                <div>融资金额</div>
                <div class="countdiv">{{article.loanValue}}<span>万</span></div>
            </lable>
            <div class="expect">
                <div class="expect_border">
                    <p>营业执照</p>
                    <span>{{article.license.regTime}}</span>
                </div>
                <div class="expect_border">
                    <p>融资期限</p>
                    <span class="term" >{{article.loanLife}}个月</span>
                </div>
                <div>
                    <p>接受利率</p>
                    <span class="rate">{{article.rateCap}}%-{{article.rateFloor}}%</span>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="line"></div>
            <ul class="message">
                <li class="img"></li>
                <li class="messageli2">推荐人成交率</li>
                <li class="messageli3">10/12</li>
            </ul>
        </div>
    </div>

</div>