<div class="mask">
    <div  class="meeting">
        <img src="img/icon/meetcard.png" class="meetLogo" alt="">
        <div class="meetingDIv">
            <p class="meetingP1">联系人</p>
            <p class="meetingP2">{{linkman.name || '未完善'}}</p>
        </div>
        <div class="meetingDIv">
            <p class="meetingP1">联系电话</p>
            <p class="meetingP2">{{linkman.mobile}}</p>
        </div>
        <a href="tel:{{linkman.mobile}}">
          <img src="img/icon/phone.png" class="meetPhone" alt="">
        </a>
    </div>
</div>