<div class="mask">
    <div  class="meeting">
        <img src="/zrh-app/img/icon/meetcard.png" class="meetlogo" alt="">
        <div class="meetname">
            <p class="meetnamep1">联系人</p>
            <p class="meetnamep2">{{linkman.name || '未完善'}}</p>
        </div>
        <div class="meetname">
            <p class="meetnamep1">联系电话</p>
            <p class="meetnamep2">{{linkman.mobile}}</p>
        </div>
        <a href="tel:{{linkman.mobile}}">
          <img src="/zrh-app/img/icon/phone.png" class="meetphone" alt="">
        </a>
    </div>
</div>