<div class="found-step1">
    <div class="tittle">{{article.classification}}</div>
    <lable class="amount">
        <div>融资金额</div>
        <div class="countDiv"> {{article.loanValue}}<span>万</span></div>
    </lable>
    <div class="expect clear">
        <div class="expect_border">
            <p>营业执照</p>
            <span>{{article.regTime}}</span>
        </div>
        <div class="expect_border">
            <p>融资期限</p>
            <span>{{article.loanLife}}个月</span>
        </div>
        <div class="expect_border">
            <p>接受利率</p>
            <span>{{article.rateCap}}%-{{article.rateFloor}}%</span>
        </div>
    </div>
    <div class="line"></div>
    <ul class="message">
        <li class="img"></li>
        <li class="messageLi2">推荐人成交率</li>
        <li class="messageLi3">{{batting.success}}/{{batting.total}}</li>
    </ul>

    <div class="displayFrame">
        <div ng-repeat="message in message_list">
            <div   ng-class="{true:'myCon',false:'otherCon'}[message.self]">
                <div ng-class="{true:'myFrame',false:'otherFrame'}[message.self]">
                    <span ng-class="{true:'spanImg',false:'spanImgOther'}[message.self]"></span>
                    <span ng-class="{true:'my',false:'others'}[message.self]">{{message.comment}}</span>
                    <span ng-class="{true:'myTriangle',false:'otherTriangle'}[message.self]"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<textarea class="speak fl" id="content" ng-focus="onFocus()" autofocus="autofocus" placeholder="输入您的消息"
          maxlength="70"></textarea>
<input type="submit" class="speakBtn fr" ng-click="sendMessage()"/>

