
<div class="found-step1">
    <div class="tittle">{{article.classification}}</div>
    <lable class="amount">
        <div>融资金额</div>
        <div class="countdiv"> {{article.loanValue}}<span>万</span></div>
    </lable>
    <div class="expect">
        <div class="expect_border">
            <p>营业执照</p>
            <span >{{article.regTime}}</span>
        </div>
        <div class="expect_border">
            <p>融资期限</p>
            <span class="term">{{article.loanLife}}个月</span>
        </div>
        <div class="expect_border">
            <p>接受利率</p>
            <span class="rate">{{article.rateCap}}%-{{article.rateFloor}}%</span>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="line"></div>
    <ul class="message">
        <li class="img"></li>
        <li class="messageli2">推荐人成交率</li>
        <li class="messageli3">{{batting.success}}/{{batting.total}}</li>
    </ul>
</div>
  <div class="displayFrame">

      <div ng-repeat="message in message_list">
          <div ng-class="{true:'mycon clear',false:'othercon clear'}[message.self]" >
              <div ng-class="{true:'myFrame',false:'otherFrame'}[message.self]">
                  <span ng-class="{true:'spanImg',false:'spanImgOther'}[message.self]"></span>
                  <span ng-class="{true:'my',false:'others'}[message.self]">{{message.comment}}</span>
                  <span ng-class="{true:'mytriangle',false:'othertriangle'}[message.self]"></span>
              </div>
          </div>
      </div>
  </div>
<form novalidate class="speakForm clear" >
    <div class="speak fl" contenteditable="true" ng-model="content"></div>
    <input type="submit" class="speakBtn fr" ng-click="sendMessage()"/>
</form>