
<!--单选-->
<div class="mask">
    <ul class="chkbox" >
        <li class="coverinnertop"></li>
        <li class="coverinner"></li>
        <input  type='submit'class="next4" value="确定" ng-click="sure()"/>
        <li style="margin-top:28px; "></li>
        <li class="chkboxline" ng-repeat="obj in obj_list" ng-click="check(obj.name)">
            <span ng-class="{true: 'checked', false: 'check'}[obj.check]"></span>
            <span class="buxiang">{{obj.name}}</span>
        </li>
        <li class="" style="margin-bottom: 96px;"></li>

    </ul>
</div>