<div style="width:100%;height:100%;overflow-y: auto">
    <div class="found-step1" style=" border-bottom:1px solid #f0f0f0;">

        <div class="amountcon">
            <lable class="amount">
                <div>融资金额</div>
                <div class="countdiv"> 8000<span>万</span></div>
            </lable>
        </div>
        <div class="expect">
            <div class="expect_border">
                <p>营业执照</p>
                <span >2013.10.10</span>
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <span class="term">24个月</span>
            </div>
            <div>
                <p>接受利率</p>
                <span class="rate">4%-10%</span>
            </div>
        </div>
        <div class="progressdetail">
            <div class="detailchild" style="width:100%;"></div>
        </div>
        <p class="detailtittle3" >签约成功</p>
    </div>
    .<div class="norequired">
    <div class="noreqname">行业分类</div>
    <div class="watchdiv">互联网</div>
</div>
    <div class="norequired">
        <div class="noreqname">抵押物</div>
        <div class="watchdiv">房产</div>
    </div>
    <div class="showmsg">
        <p class="xushu">请具体描述下抵押物的金额、权属情况、股票号等信息。也可以点击加号直接上传房本、车本、股票号等数据图片。</p>
        <img class="detailimg1" src="../../../img/header.png" alt="">
    </div>
    <div class="norequired">
        <div class="noreqname">年实际经营流水</div>
        <div class="watchdiv">20036万</div>
    </div>
    <div class="showmsg">
        <p class="xushu">财务信息</p>
        <img class="detailimg1" src="../../../img/header.png" alt="">
    </div>
    <div class="norequired">
        <div class="noreqname">对公账户流水</div>
        <div class="watchdiv">180万</div>
    </div>

</div>