<div class="found-step1" style=" border-bottom:1px solid #f0f0f0;">
    <!--<div class="tittle">生活消费</div>-->
    <div class="amountcon">
        <lable class="amount">
            <div>融资金额</div>
            <div class="countdiv"> 8000<span>万</span></div>
        </lable>
    </div>
    <div class="expect">
        <div class="expect_border">
            <p>营业执照</p>
            <span >2013.10.10</span>
        </div>
        <div class="expect_border">
            <p>融资期限</p>
            <span class="term">24个月</span>
        </div>
        <div>
            <p>接受利率</p>
            <span class="rate">4%-10%</span>
        </div>
    </div>
    <div class="progressdetail">
        <div class="detailchild" style="width:30%;"></div>
    </div>
    <p class="detailtittle1" >竞标中</p>
    .<div class="norequired">
    <div class="noreqname">企业名称</div>
    <!--<input type="text" placeholder="" value="西少爷有限公司">-->
    <div class="watchdiv">西少爷有限公司</div>
</div>
    <div class="norequired">
        <div class="noreqname">企业类型</div>
        <div class="watchdiv">国有企业</div>
    </div>
    <div class="norequired">
        <div class="noreqname">行业分类</div>
        <div class="watchdiv">生活消费</div>
    </div>
    <div class="norequired">
        <div class="noreqname">贷款方式及担保措施</div>
        <div class="watchdiv">固定资产融资</div>
    </div>
    <div class="norequired">
        <div class="noreqname">城市</div>
        <div class="watchdiv">北京</div>
    </div>
    <div class="discript">
        <p style="font-size: 1.6rem">公司优势</p>
        <p style="font-size: 1.4rem;margin-bottom: 20px;">公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势</p>
    </div>
    <input  type='submit'class="release" value="约见信息" />
    <div style="margin-bottom: 108px;"></div>
</div>