<div style="background: #ffffff; position: relative">
<div class="viprelease1Header">
    <p class="viprelease1Headerp1">温馨提示：</p>
    <p class="viprelease1Headerp2">信息越完整，成功率越高!</p>
</div>
<div class="information">精准信息</div>
<div class="informationContent">
    <span class="reqNameSpan1"></span>
    <span class="reqNameSpan2">抵押物</span>
</div>
<div class="collateral">
    <div class="collateral1">
        <div class="collateralDiv" ng-repeat="pt in pledgeTypeList" ng-click="check(pt.name)">
            <span ng-class="{false: 'check', true: 'checked'}[pt.check]"></span>
            <span class="checkText">{{pt.name}}</span>
            <span class="checkLine">|</span>
            <p class="collateralLine"></p>
        </div>
        <p class="clearRightBorder"></p>
        <!--<div class="coverBottomBorder"></div>-->
    </div>
</div>
<div class="required1">
    <div class="xushu" contenteditable="true"  id="pledge">{{article.pledge || '请具体描述下抵押物的金额、权属情况、股票号等信息。'}}</div>
</div>
<div class="loadLie clear" >
	<div class="img-list fl" ng-repeat="pledgeImg in article.pledgeImgs" ng-click="removePledgeImg($index)">
        <img src="{{pledgeImg}}" alt="" style="border: 0">
        <div class="redPoint">
            <div class="redPointInner"></div>
        </div>
    </div>
    <div id="upload_pledgeImg">
	 <img id="pickPledgeImg" src="img/icon/upload1.png" class="loadjia fl">
	</div>
</div>

<div class="required">
    <div ng-class="setStyle_div(article.continualOperateYear)">
        <span class="reqNameSpan1" ng-hide="article.continualOperateYear"></span>
        <span class="reqNameSpan2">年实际经营流水（万元）</span>
    </div>
    <input type="text" placeholder="请输入对公账户流水" ng-model="article.continualOperateYear"/>
</div>
<div class="required">
    <div ng-class="setStyle_div(article.continualPublicYear)">
        <span class="reqNameSpan2">对公账户流水（万元）</span>
    </div>
    <input type="text" placeholder="请输入对公账户流水" ng-model="article.continualPublicYear"/>
</div>
<div class="required" ng-click="choose_credit()">
    <div ng-class="setStyle_div(article.credit)">
        <span class="reqNameSpan2">贷款方式</span>
    </div>
    <div class="reqTips">{{article.credit || '请选择贷款方式'}}</div>
    <span class="setupimg"></span>
</div>

<div class="required1">
    <div ng-class="setStyle_div(article.financialInfo)">
        <span class="reqNameSpan2">财务信息（应收 资产规模）</span>
    </div>
    <!--<input type="text" placeholder="点击加号添加财务报表图片" ng-model="article.financialInfo"/>-->
    <div class="requiredDivInput" contenteditable="true" id="financialInfo">{{article.financialInfo || '点击加号添加财务报表图片'}}</div>
</div>

<div class="loadLie clear" >
	<div class="img-list fl" ng-repeat="financialImg in article.financialImgs" ng-click="removeFinancialImg($index)">
        <img src="{{financialImg}}" alt="" style="border: 0">
        <div class="redPoint">
            <div class="redPointInner"></div>
        </div>
	</div>
	<div id="upload_financialImg">
       <img src="img/icon/upload1.png" class="loadjia fl" id="pickFinancialImg">
    </div>
</div>
<div class="required">
    <div ng-class="setStyle_div(article.businessContact)">
        <span class="reqNameSpan2">业务往来</span>
    </div>
    <input type="text" placeholder="请输入几个上下游主要客户和采购对象" ng-model="article.businessContact"/>
</div>
<div class="required">
    <div ng-class="setStyle_div(article.corporateResidence)">
        <span class="reqNameSpan2">法人户籍</span>
    </div>
    <input type="text" placeholder="请输入法人户籍" ng-model="article.corporateResidence"/>
</div>
<div class="required1">
    <div ng-class="setStyle_div(article.advantages)">
        <span class="reqNameSpan2">公司优势</span>
    </div>
    <!--<input type="text" placeholder="请输入公司的其他贷款优势" ng-model="article.advantages" />-->
    <div class="requiredDivInput" contenteditable="true" id="advantages">{{article.advantages || '请输入公司的其他贷款优势。'}}</div>
</div>
<div class="loadLie clear">
	<div class="img-list fl" ng-repeat="advantagesImg in article.advantagesImgs" ng-click="removeAdvantagesImg($index)">
        <img src="{{advantagesImg}}" alt="" style="border: 0">
        <div class="redPoint">
            <div class="redPointInner"></div>
        </div>
	</div>
    <div id="upload_advantagesImg">
        <img src="img/icon/upload1.png" class="loadjia fl" id="pickAdvantagesImg">
    </div>
</div>
<div  class="loadlast">
    <div class="doubleButton">
    <span class="doubleButtonLeft" ng-click="save()">保存</span>
    <span class="doubleButtonRight" ng-click="release()">发布</span>
</div></div>


</div>