
    <div class="information" > 主做行业 <img class="ok" src="/zrh-app/img/icon/ok.png" alt=""></div>
      <div class="industry">
          <div class="mortgagewu1">
              <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">大农业</span>
                  <p class="mortgagewuline"></p>
              </span>


               <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">房地产</span>
                  <p class="mortgagewuline"></p>
              </span>
               <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">商业贸易</span>
                  <p class="mortgagewuline"></p>
              </span>
          <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">仓储物流</span>
                  <p class="mortgagewuline"></p>
              </span>
         <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">工业制造</span>
                  <p class="mortgagewuline"></p>
              </span>
              <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">医疗</span>
                  <p class="mortgagewuline"></p>
              </span>
              <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">教育</span>
                  <p class="mortgagewuline"></p>
              </span>
              <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">建筑工程</span>
                  <p class="mortgagewuline"></p>
              </span>
              <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">电子商务</span>
                  <p class="mortgagewuline"></p>
              </span>
               <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">生活消费</span>
                  <p class="mortgagewuline"></p>
              </span>
               <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">汽车交通</span>
                  <p class="mortgagewuline"></p>
              </span>
               <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">高新技术</span>
                  <p class="mortgagewuline"></p>
              </span>
               <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">互联网</span>
                  <p class="mortgagewuline"></p>
              </span>
               <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">文化旅游</span>
                  <p class="mortgagewuline"></p>
              </span>
               <span class="mortgagewudiv">
                  <span class="checknext" ></span>
                  <span class="checkednext" ></span>
                  <span class="checkwenzi">能源矿产</span>
                  <p class="mortgagewuline"></p>
              </span>
          </div>
          <input type="text" class="otherindustry"placeholder="其他：输入您的主做行业">
          <div class="information"> 担保措施要求 <img class="ok" src="/zrh-app/img/icon/ok.png" alt=""></div>
          <div class="norequired">
              <div class="noreqname">固定资产抵押</div>
              <!--<input type="text" placeholder="房产抵押&nbsp;厂房、土地及在建工程" value="">-->
              <div class="divinput">房产抵押&nbsp;厂房、土地及在建工程</div>
              <span class="moneyicon"></span>
          </div>
          <div class="norequired">
              <div class="noreqname">流动资产抵押</div>
              <!--<input type="text" placeholder="存货 预付款 应收账款 有价证券（股票、国债）" >-->
              <div class="divinput">存货 预付款 应收账款 有价证券（股票、国债）</div>
              <span class="moneyicon"></span>
          </div>
          <div class="norequired">
              <div class="noreqname">信用担保</div>
              <div class="divinput">国企</div>
              <span class="moneyicon"></span>
          </div>
          <div class="discript">
              <p>详细描述</p>
              <textarea  rows="5">公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势</textarea>
          </div>
          <div class="information">推荐业务及政策 <span class="policycount">1</span></div>
          <textarea name="" id="" cols="" rows="5" class="policy">输入本年度主推的业务及政策</textarea>
          <input  type='submit'class="release" value="发布" />
   </div>
