<div style=" width:100%; background:#ffffff;height:667px;">
     <div class="applyHeader">
         <p class="applyHeaderP1">温馨提示</p>
         <p class="applyHeaderP2">如果您在申请前，有发不过项目，或是填写过风控标准，审核通过率会大幅度提高！</p>
     </div>
      <div class="moneyStepTop">
          <p class="moneyStepTopP">真实姓名</p>
          <input type="text" placeholder="" class="moneyStepTopInput" ng-model="userApplyInvest.name">
          <span class="moneyIcon"></span>
      </div>
      <div class="moneyStepTop">
          <p class="moneyStepTopP">投资机构名称</p>
          <input type="text" placeholder="" class="moneyStepTopInput" ng-model="userApplyInvest.orgName">
          <span class="moneyIcon"></span>
      </div>
      <div class="moneyStepTop">
          <p class="moneyStep1top2_p">职位</p>
          <input type="text" placeholder="" class="moneyStepTopInput" ng-model="userApplyInvest.position">
          <span class="moneyIcon"></span>
      </div>
      <div class="nameCard" id="upload_container">
          <p class="nameCardP1">上传名片</p>
          <p class="nameCardP2">上传名片有助于提升审核速度，支持小于5兆的JPG和PNG格式，仅供认证使用</p>
          <div class="imgBox" id="pickfiles">
              <img class="img1" src="img/icon/examine.png" alt="" ng-hide="userApplyInvest.cardImg"/>
              <p ng-hide="userApplyInvest.cardImg">仅供审核使用</p>
              <img class="img2" ng-src="{{userApplyInvest.cardImg}}" ng-show="userApplyInvest.cardImg">
          </div>
      </div>

    <input  type='submit'class="release" value="提交申请" ng-click="apply()"/>
  </div>