<div class="asideContainer">
    <input type="checkbox" id="tm" />
    <ul class="asideHide">
        <li class="asideLi1">
        	<img src="{{headImg || 'img/icon/recommendl.png'}}"/>
        </li>
        <li class="asideLi2" ng-click="next_op('goto_list')">找项目</li>
       <!-- <li class="asideLi4"class="vipNone" >发布风控标准</li>-->
        <li class="asideLi3" ng-click="next_op('goto_create')">发布项目</li>
        <li class="asideLi5">个人中心</li>
    </ul>
    <label for="tm" class="cartBack"></label>
    <div class="af">
        <label for="tm" class="cart"></label>
    </div>
    <div class="containerDisplay">
        <div class="userHeader">
            <div class="userLogo">                
                <div class="userLogoPic">
                    <img class="userLogoPic" src="{{headImg || 'img/icon/recommendl.png'}}" alt="">
                </div>
                <div class="userLogoName">{{nickname || '默认'}}<img class="vipHave" src="img/icon/arrow1v.png" alt="" ng-show="isVip"></div>
            </div>

            <div class="headerContents">
                <div class="headerContent">
                    <p class="headerContentNum">{{cs}}</p>
                    <p class="headerContentTittle" ng-click="next_op('questions')">投资问题</p>
                </div>
                <div class="headerContent borderLine">
                    <p class="headerContentNum">{{ms}}</p>
                    <p class="headerContentTittle" ng-click="next_op('messages')">消息中心</p>
                </div>
                <div class="headerContent">
                    <p class="headerContentNum">{{batting.success}}/{{batting.total}}</p>
                    <p class="headerContentTittle">成功率</p>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>

        <div class="userContent">
            <span class="userContentName" ng-click="next_op('projectManage')">项目管理</span>
            <span class="userContentIcon"></span>
        </div>

        <div class="userContent">
            <span class="userContentName" ng-click="next_op('projectInvest')">项目投资</span>
            <span class="userContentIcon"></span>
        </div>
        <!--<div class="userContent" >-->
            <!--<span class="userContentName" ng-click="next_op('windControl')">发布风控标准</span>-->
            <!--<span class="userContentIcon"></span>-->
        <!--</div>-->
        <div class="userContent" >
            <span class="userContentName" ng-click="next_op('applyInvest')">申请投资资质</span>
            <span class="userContentIcon"></span>
        </div>
        <!--<div class="userContent">
            <span class="userContentName" ng-click="next_op('myWallet')">我的钱包</span>
            <span class="userContentIcon"></span>
        </div>-->
        <div class="userContent">
            <span class="userContentName" ng-click="next_op('setting')">设置</span>
            <span class="userContentIcon"></span>
        </div>
        <div class="userContents">
        </div>
    </div>

</div>