
<body>
<div style="background: #f0f0f0;height:100%;overflow-y: auto">
<div class="msgtishi">
    <div class="tishiimg"><img src="/zrh-app/img/icon/Unread.png" alt=""> <span class="tishi">项目提醒</span></div>
    <p>有一个企业的信息进行了更新</p>
    <span class="moneyicon" style="top: 21px"></span>
</div>
<div class="msgtishi">
    <div class="tishiimg"><img src="/zrh-app/img/icon/Unread.png" alt=""> <span class="tishi">借款提醒</span></div>
    <p>有银行看中了您的项目，我们会在24小时内以电话方式与您联系确认，并签署相关协议</p>
</div>
    <div class="msgtishi">
        <div class="tishiimg"><img src="/zrh-app/img/icon/Unread.png" alt=""> <span class="tishi">消息提醒</span></div>
        <p>有一个企业的信息进行了更新</p>
        <span class="moneyicon msgtishiicon"></span>
    </div>
<div class="msgtishi">
    <div class="tishiimg"><img src="/zrh-app/img/icon/messaged.png" alt=""> <span class="tishied">融资提醒</span></div>
    <p>您的项目已成功借款，成功率提升为 <span>10/12</span></p>
    <!--<span class="moneyicon msgtishiicon"></span>-->
</div>

</div>
</body>
