
<div style="height:100%;background: #f0f0f0;overflow-y: auto">
<div class="answer" ng-repeat="obj in obj_list" ng-click="show(obj.articleId,obj.toUser)">
   <div class="usercontent">
    <span ng-class="{true:'contentname bgask',false:'contentname bgask'}[obj.hasRead]"></span>
       <span class="askdisable">{{obj.comment}}</span>
    <span class="moneyicon"></span>
   </div>
    <div class="answertime">
        <span class="anstimespan1">{{obj.classification}}</span>
        <span class="anstimespan2">{{obj.loanValue}}万</span>
        <span class="anstimespan3">{{obj.time}}</span>
    </div>
</div>

</div>
