
<div style="height:100%;background: #f0f0f0;overflow-y: auto">
<div class="answer">
   <div class="usercontent">
    <span class="contentname bgask"></span>
       <span class="askdisable">请问您有什么抵押物可以提供。</span>
    <span class="moneyicon"></span>
   </div>
    <div class="answertime">
        <span class="anstimespan1">房地产</span>
        <span class="anstimespan2">200万</span>
        <span class="anstimespan3">2016.3.12</span>
    </div>


</div>
<div class="answer">
    <div class="usercontent">
        <span class="contentname bgask"></span>
        <span class="askdisable">请问您有什么抵押物可以提供。请问您有什么抵押物可以提供</span>
        <span class="moneyicon"></span>
    </div>
    <div class="answertime">
        <span class="anstimespan1">房地产</span>
        <span class="anstimespan2">2000万</span>
        <span class="anstimespan3">2016.3.12</span>
    </div>


</div>
</div>
