<div class="projectHeader">
    <p>
        <span  ng-class="{false: 'noBorder', true: 'blueBorder'}[border]" ng-click="release()">已发布</span>
    </p>
   <p>
       <span  ng-class="{false: 'noBorder', true: 'blueBorder'}[noBorder]" ng-click="unRelease()">未发布</span>
    </p>
</div>
<div class="projectContent" ng-click="article_show(obj.id)" ng-repeat="obj in obj_list">
    <div class="projectContentShow">
        <p class="projectContentName clear">
            <span ng-class="{false: 'check', true: 'checked'}[pt.check]"></span>
            <span class="companyName fl">{{obj.businessName}}</span>
            <span class="companyClassification fl">{{obj.classification}}</span>
        </p>
    </div>
    <div class="projectMessage clear">
        <div class="messageContent fl">
            <p class="messageContentName">融资金额</p>
            <p class="">{{obj.loanValue}}万元</p>
        </div>
        <div class="messageContent fl borderLine">
            <p class="messageContentName">融资期限</p>
            <p class="">{{obj.loanLife}}个月</p>
        </div>
        <div class="messageContent fl">
            <p class="messageContentName">接受利率</p>
            <p class="">{{obj.rateCap}}-{{obj.rateFloor}}</p>
        </div>
    </div>
    <div class="progress">
        <div class="progressChild" style="width:{{obj.jindu}}%;"></div>
    </div>
    <p class="progressTittle" style="left:{{obj.jindu}}%;margin-left:{{obj.jinduShowM+'px'}};">{{obj.jindushow}}</p>
</div>
<div class="bottomButton clear">
    <input type="button" value="发送邮箱" class="postEmail fl">
    <input type="button" value="删除" class="deleteProject fl">
</div>