<div class="projectContent"ng-click="checkDetail()" ng-repeat="invest in invest_list">
    <div class="projectContentShow">
        <p class="projectContentName clear">
            <span class="companyName fl">{{invest.company}}</span>
            <span class="companyClassification fl">{{invest.classification}}</span>
        </p>
    </div>
    <div class="projectMessage clear">
        <div class="messageContent fl">
            <p class="messageContentName">融资金额</p>
            <p class="">{{invest.money}}</p>
        </div>
        <div class="messageContent fl borderLine">
            <p class="messageContentName">融资期限</p>
            <p class="">{{invest.date}}</p>
        </div>
        <div class="messageContent fl">
            <p class="messageContentName">接受利率</p>
            <p class="">{{invest.lilv}}</p>
        </div>
    </div>
    <div class="progress">
        <div class="progressChild" style="width:{{invest.jindu}};"></div>
    </div>
    <p class="progressTittle">{{jindushow}}</p>

</div>