<div style="background: #ffffff;width:100%;height:940px">
    <div class="found-step1" style=" padding-top :30px; border:1px solid #f0f0f0;">

        <lable class="amount">
            <div>融资金额</div>
            <input type="text" value="200"><span>万</span>
        </lable>
        <div class="expect">
            <div class="expect_border">
                <p>营业执照</p>
                <input type="text" value="2013.10.10">
            </div>
            <div class="expect_border">
                <p>融资期限</p>
                <input class="term" type="text" value="24个月">
            </div>
            <div>
                <p>接受利率</p>
                <input class="rate" type="text" ng-model="rate">
            </div>
        </div>
        <div class="progressdetail">
            <div class="detailchild" style="width:50%;"></div>
        </div>
        <p class="detailtittle2" >跟进中</p>
    </div>
    .<div class="required">
    <div class="reqNameSpan2">行业分类</div>
    <input type="text" placeholder="请输入法人代表姓名" value="互联网">
</div>
    <div class="required">
        <div class="reqNameSpan2">抵押物</div>
        <input type="text" placeholder="请输入法人代表姓名" value="房产">
    </div>
    <div class="showmsg">
        <p class="xushu">请具体描述下抵押物的金额、权属情况、股票号等信息。也可以点击加号直接上传房本、车本、股票号等数据图片。</p>
        <img class="detailimg1" src="../../img/header.png" alt="">
    </div>
    <div class="required">
        <div class="reqNameSpan2">年实际经营流水</div>
        <input type="text" placeholder="请输入法人代表姓名" value="20036万">
    </div>
    <div class="showmsg">
        <p class="xushu">财务信息</p>
        <img class="detailimg1" src="../../img/header.png" alt="">
    </div>
    <div class="required">
        <div class="reqNameSpan2">对公账户流水</div>
        <input type="text" placeholder="请输入法人代表姓名" value="180万">
    </div>
    <div class="discript" style="margin-bottom: 20px">
        <p style="font-size: 1.5rem">公司优势</p>
        <p style="font-size: 1.4rem;">公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势</p>
    </div>
</div>
<input  type='submit'class="singleButtonFixed" value="对你感兴趣的银行" />