
<div class="found-step1">
    <div class="tittle">{{message.classification}}</div>
    <lable class="amount">
        <div>融资金额</div>
        <div class="countdiv"> {{message.loanValue}}<span>万</span></div>
    </lable>
    <div class="expect">
        <div class="expect_border">
            <p>营业执照</p>
            <span >{{message.license}}</span>
        </div>
        <div class="expect_border">
            <p>融资期限</p>
            <span class="term">24个月</span>
        </div>
        <div class="expect_border">
            <p>接受利率</p>
            <span class="rate">4%-10%</span>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="line"></div>
    <ul class="message">
        <li class="img"></li>
        <li class="messageli2">推荐人成交率</li>
        <li class="messageli3">10/12</li>
    </ul>
</div>
  <div class="displayframe ">

      <div ng-repeat="a in messageDet">
          <div class="mycon clear" >
              <div class="myframe">
                  <span class="spanimg"></span>
                  <span class="my">{{a.message1}}</span>
                  <span class="mytriangle"></span>
              </div>
          </div>
      </div>
      <div ng-repeat="a in messageDet">
          <div class="othercon clear">
              <div class="otherframe">
                  <span class="spanimgother"></span>
                  <span class="others">{{a.message2}}</span>
                  <span class="othertriangle"></span>
              </div>
          </div>
      </div>
  </div>
<form novalidate class="speakForm" ng-submit="sendMessage()">
    <textarea type="text" class="speak"></textarea>
    <input type="submit" class="speakBtn">
</form>