<div style="background: #ffffff;height:100%;">
    <div class="userSet clear" id="upload_container">
        <span>头像</span>
        <span class="userSetIcon">></span>
        <img class="userSetContent" id="pickfiles" src="{{user.headImg || 'img/icon/recommendl.png'}}">
    </div>
    <div class="userSet" ng-click="update('name',user.name)">
        <span>昵称</span>
        <span class="userSetIcon">></span>
        <span class="userSetContent">{{user.name || '未完善'}}</span>
    </div>
    <div class="userSet">
        <span>手机号</span>
        <span class="userSetIcon">&nbsp</span>
        <span class="userSetContent">{{user.mobile}}</span>
    </div>
    <div class="userSet" ng-click="update('email',user.email)">
        <span>邮箱</span>
        <span class="userSetIcon"> ></span>
        <span class="userSetContent">{{user.email}}</span>
    </div>
    <div class="userSet">
        <span>修改密码</span>
        <span class="userSetIcon"> ></span>
        <span class="userSetContent" ng-click="reset()">*********</span>
    </div>
    <div class="userSetOut" ng-click="logout()">退出登录</div>
</div>