<div style="background: #ffffff;height:100%;">
    <div class="userSet clear">
        <span>头像</span>
        <span class="userSetIcon">></span>
        <img class="userSetContent">
    </div>
    <div class="userSet">
        <span>昵称</span>
        <span class="userSetIcon">></span>
        <span class="userSetContent">123</span>
    </div>
    <div class="userSet">
        <span>更改手机号</span>
        <span class="userSetIcon"> ></span>
        <span class="userSetContent">123456789</span>
    </div>
    <div class="userSet">
        <span>修改密码</span>
        <span class="userSetIcon"> ></span>
        <span class="userSetContent">*********</span>
    </div>
    <div class="userSetOut" ng-click="logout()">退出登录</div>
</div>