
<div class="walletHeader">
    <p class="walletTittle">我的资产</p>
    <p class="moneyCount">￥<span>88888.00</span></p>
</div>
<div class="cardBinding">
    <span class="bindingTittle">绑定银行卡</span>
    <span class="bindingBtn" ng-click="addCard()">+</span>
</div>
<div class="cardShow">
    <div class="bankcard clear" ng-repeat="wallet in wallet_list" >
        <div class="bankcardLeft fl">
            <img src="img/icon/merchants.jpg" alt="">
        </div>
        <div class="bankcardRight fl">
            <p class="bankName">{{wallet.className}}</p>
            <p class="bankcardClass">{{wallet.classification}}</p>
            <p class="bankcardNum">{{wallet.cardId}}</p>
        </div>
    </div>
</div>
<input  type='submit'class="singleButtonFixed" value="我要提现" />
   <script>
       window.onload=function(){
           var bankcardrightnum=document.getElementsByClassName('bankcardrightnum')[0];
            var p=bankcardrightnum.innerHTML;
            var  numlength=p.length;
           var num=p.substring(0,numlength-4);
           bankcardrightnum.innerHTML=p.replace(num,'**** **** ****&nbsp;');

       }
   </script>
