<div class="information clear" > 主做行业 <img class="ok fr" src="../img/ok.png" alt=""></div>
<div class="industry">
    <div class="collateral" >
        <div class="collateral1">
            <div class="collateralDiv">
                <span class="check"></span>
                <span class="checkText">大农业</span>
                <p class="collateralLine"></p>
            </div>
            <div class="collateralDiv">
                <span class="check"></span>
                <span class="checkText">房地产</span>
                <p class="collateralLine"></p>
            </div>
            <div class="collateralDiv borderNoRight">
                <span class="check"></span>
                <span class="checkText">商业贸易</span>
                <p class="collateralLine"></p>
            </div>
        </div>

        <!--<div style="clear:both"></div>-->
        <div class="collateral2">
            <div class="collateralDiv ">
                <span class="check"></span>
                <span class="checkText">仓储物流</span>
                <p class="collateralLine"></p>
            </div>
            <div class="collateralDiv" >
                <span class="check"></span>
                <span class="checkText">工业制造</span>
                <p class="collateralLine"></p>
            </div>
            <div class="collateralDiv borderNoRight" >
                <span class="check"></span>
                <span class="checkText">医疗</span>
                <p class="collateralLine"></p>
            </div>
        </div>
        <div class="collateral2">
            <div class="collateralDiv">
                <span class="check"></span>
                <span class="checkText">教育</span>
                <p class="collateralLine"></p>
            </div>
            <div class="collateralDiv" >
                <span class="check"></span>
                <span class="checkText">建筑工程</span>
                <p class="collateralLine"></p>
            </div>
            <div class="collateralDiv borderNoRight" >
                <span class="check"></span>
                <span class="checkText">电子商务</span>
                <p class="collateralLine"></p>
            </div>
        </div>
        <div class="collateral2">
            <div class="collateralDiv">
                <span class="check"></span>
                <span class="checkText">生活消费</span>
                <p class="collateralLine"></p>
            </div>
            <div class="collateralDiv" >
                <span class="check"></span>
                <span class="checkText">汽车交通</span>
                <p class="collateralLine"></p>
            </div>
            <div class="collateralDiv borderNoRight" >
                <span class="check"></span>
                <span class="checkText">高新技术</span>
                <p class="collateralLine"></p>
            </div>
        </div>
        <div class="collateral2">
            <div class="collateralDiv">
                <span class="check"></span>
                <span class="checkText">互联网</span>
                <p class="collateralLine" />
            </div>
            <div class="collateralDiv" >
                <span class="check"></span>
                <span class="checkText">文化旅游</span>
                <p class="collateralLine"></p>
            </div>
            <div class="collateralDiv borderNoRight" >
                <span class="check"></span>
                <span class="checkText">能源矿产</span>
                <p class="collateralLine"></p>
            </div>
        </div>
    </div>
    <input type="text" class="otherindustry"placeholder="其他：输入您的主做行业">
    <div class="information"> 担保措施要求 <img class="ok" src="../../../img/ok.png" alt=""></div>
    <div class="norequired">
        <div class="noreqname">固定资产抵押</div>
        <input type="text" placeholder="房产抵押&nbsp;厂房、土地及在建工程" value="">
        <span class="moneyicon"></span>
    </div>
    <div class="norequired">
        <div class="noreqname">流动资产抵押</div>
        <input type="text" placeholder="存货 预付款 应收账款 有价证券（股票、国债）" >
        <span class="moneyicon"></span>
    </div>
    <div class="norequired">
        <div class="noreqname">信用担保</div>
        <input type="text" placeholder="国企" >
        <span class="moneyicon"></span>
    </div>
    <div class="discript">
        <p>详细描述</p>
        <textarea  rows="5">公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势公司优势</textarea>
    </div>
    <div class="information">推荐业务及政策 <span class="policycount">1</span></div>
    <textarea name="" id="" cols="" rows="5" class="policy"></textarea>
    <input  type='submit'class="release" value="发布" />
</div>